[2018-01-28 04:49] AceHack opened #274 "Why CMD over ENTRYPOINT in Dockerfiles"
I'm just trying to understand better why choose CMD over ENTRYPOINT in your docker files?

[2018-02-21 21:31] MichaelSimons opened #394 "Consider setting the SHELL to pwsh in Docker images"
Steps to reproduce
------------------

Build the following Dockerfile

[code]

Expected behavior
-----------------

`docker build` would succeed.   I was expecting the SHELL would be set to pwsh in the powershell images.

`SHELL ["pwsh", "-Command", "$ErrorActionPreference = 'Stop'; $ProgressPreference = 'SilentlyContinue';"]`

This makes it easy to use the PS 'out of the box' in Dockerfiles based

[2018-06-11 20:55] TravisEz13 opened #9 "Document files and fields for this repo"
The tags.json is the tag format for the image.

The psVersions.json is the version of PowerShell we will build an image for.

getLatestTag.ps1  returns a structure telling us a tag to build from and how to represent that tag in the tag template.  Here are the properties of the structure:

| Name | description |
|-------|------------|
| Tag     | What we should tag the image |
| Type   | `Full` or

[2018-06-25 23:50] TravisEz13 opened #21 "Add Ubuntu 18.04 image"

[2018-06-25 23:51] TravisEz13 opened #22 "Add OpenSUSE image"

[2018-07-09 23:24] TravisEz13 opened #24 "Update to use package to register depot"
See the instruction update in the docs PR
https://github.com/PowerShell/PowerShell-Docs/pull/2676/files?short_path=9e40516#diff-9e405166c86b24f7f5b2a07a3b7cabfc
@anmenaga
Can you make these changes?

[2018-07-23 23:10] #24 closed

[2018-08-25 06:54] harsharajsalvi opened #36 "Hi Im looking for help . I need powershell script for deploying microsoft patches on remote machine from standalone machines"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[2018-08-25 17:03] edyoung commented on #36
@harsharajsalvi I suggest looking on https://gallery.technet.microsoft.com/scriptcenter - this isn't the right place for this question, I'm afraid.

[2018-08-25 17:03] #36 closed

[2018-09-15 13:46] adamdriscoll opened #40 "Error Running 6.1 Ubuntu 16.04 container"
I installed the latest 6.1 Ubuntu container via docker and receive the following error when starting it.

[code]

[2018-09-15 14:16] alexandair commented on #40
Line `CMD [ "pwsh-preview" ]` in a Dockerfile causes a problem.
Call directly `pwsh` when you run `docker run`:
[code]

[2018-09-24 23:18] benmishkanian opened #46 "Can't install any PSGallery modules"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Module installs successfully

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[2018-09-26 22:19] fpfreund opened #49 "pwsh-preview does not exist in container"
Steps to reproduce
------------------
'''Launch newly pushed Linux Container azuresdk/azuer-powershell-core

Expected behavior
-----------------
'''Powershell running in container

Actual behavior
---------------

c:\docker container run -it  azuresdk/azure-powershell-core
Unable to find image 'azuresdk/azure-powershell-core:latest' locally
latest: Pulling from azuresdk/azure-powershell-core
3b371

[2018-09-27 19:46] anmenaga commented on #21
This was done.
https://github.com/PowerShell/PowerShell-Docker/tree/master/release/stable/ubuntu18.04

[2018-09-27 19:46] #21 closed

[2018-09-27 19:47] anmenaga commented on #22
https://github.com/PowerShell/PowerShell-Docker/tree/master/release/stable/opensuse423

[2018-09-27 19:47] #22 closed

[2018-09-27 19:52] anmenaga commented on #46
powershellgallery had a problem recently; they've fixed it yesterday.
I've just tried your repro - at this moment it works for me.
Please try again.

[2018-09-27 20:08] anmenaga commented on #49
Related Azure issue:
https://github.com/Azure/azure-powershell/issues/7286

[2018-09-27 20:10] anmenaga commented on #49
This was fixed in [the source](https://github.com/PowerShell/PowerShell-Docker/commit/dfe64042cd4ead7c8fa57fd06511b08d13978aac#diff-eecef54b8aaa0f94c3b69e09279d1c2e).
@TravisEz13 we probably need to upload the updated ubuntu16.04 image.

[2018-09-27 20:12] anmenaga commented on #49
BTW, #40  is a duplicate and mentions a workaround.

[2018-09-27 20:53] fpfreund commented on #49
My bad.  I should have perused the other issues prior to opening a new one.   Used a corollary to the workaround to establish an interactive shell within the container to determine cause of the failure.

Apologies for the clutter.

[2018-09-27 20:53] #49 closed

[2018-09-27 21:00] benmishkanian commented on #46
Thank you for your response. I tried again today and it still gave the same error, but I noticed something odd: Running this Docker command on another machine works fine. Running the powershell command on the original machine outside of Docker also works. I am not sure what could be causing this but it seems like the issue only manifests when running the Docker container on my original machine.

[2018-10-06 09:00] benmishkanian commented on #46
Thanks. It seems it works on most machines except this one I have. But I'm not sure what is causing this since the Docker container should behave similarly regardless of the host machine. Any idea how to troubleshoot it?

[2018-10-08 17:46] TravisEz13 commented on #46
Yeah, looking at the logs it looks like there is a networking issue:
[code]

[2018-10-08 18:56] benmishkanian commented on #46
It seems there is some kind of SSL certificate issue:
[code]
`curl` is able to download the package if `--insecure` is passed. However, on the machine that does not have problems, the above curl command works without giving any warning.

I believe the CAs used to validate the certificate are part of the Docker image, so I am not sure how this is breaking.

[2018-10-08 20:23] rjmholt commented on #46
Could it be a time setting? If the clock in the container is set wrong, you might see a failure like this.

[2018-10-08 20:31] benmishkanian commented on #46
The clock in the container appears to be correct.
[code]

[2018-10-08 21:08] TravisEz13 commented on #46
Can you run the following on the affected machine?

[code]

And send the results?

[2018-10-08 21:22] TravisEz13 commented on #46
BTW, `mcr.microsoft.com/powershell` is where we host the images now, only some images are then replicated to docker hub.

[2018-10-08 21:55] benmishkanian commented on #46
[code]

[2018-10-08 22:12] TravisEz13 commented on #46
That is the correct cert.  Let's make sure you are running the correct container.

Can your run the following in PowerShell on your host and send the output?
[code]

The id will give me the hash of the image you are running.  Hopefully, I will be able to repro the issue just with this information.

`org.label-schema.vcs-ref` will tell me the commit hash used to build the image.
`org.label-schema.d

[2018-10-08 22:50] benmishkanian commented on #46
[code]

[2018-10-09 17:47] TravisEz13 commented on #46
Good news and bad news.

Good:  We are running the same exact image.
Bad:

- I still cannot repro the issue.
- Even, after matching your `docker info`.

Let's try a new tactic, I rebuilt the image and pushed it to my repo, can you try `travisez13/powershell:6.1.0-ubuntu-xenial`

[2018-10-09 18:03] benmishkanian commented on #46
[code]

[2018-10-09 18:29] TravisEz13 commented on #46
## Action items

Can you try the command `docker run -it travisez13/powershell:6.1.0-ubuntu-xenial pwsh -c invoke-webrequest https://www.powershellgallery.com/api/v2/package/InvokeBuild/5.4.1`

I'm not sure how to troubleshoot this if that also fails.
If it does, can you try it with this image `travisez13/powershell:6.1.0-centos-7` ?

## Summary

- You are running the same `dockerd` I am
- You are

[2018-10-09 21:50] benmishkanian commented on #46
[code]
[code]

I did some further digging on certificate chain to find out what part of the chain is causing the validation failure. It seems that the package URL redirects to devopsgallerystorage.blob.core.windows.net which has a totally different certificate chain. However, that server's chain observed within the affected machine's container looks very strange. I think there is enterprise securi

[2018-10-10 00:10] TravisEz13 commented on #46
This is what I suspected... The reason why it doesn't cause a problem on the host is that they install a certificate that causes the `hijacked` certificate to be trusted.  If you can figure out how to update the container with an equivalent cert, you can probably get this working.  This is usually done when a corporation is running a proxy which decrypts and re-encrypts https traffic so they can i

[2018-10-10 00:10] #46 closed

[2018-10-10 22:10] TravisEz13 opened #61 "Create module analysis cache in containers"
Code to create cache
[code]

[2018-10-18 01:51] kiazhi opened #65 "Requires automated Build, Test, Publish for community's Dockerfile contributions"
To encourage PowerShell community to contribute in this **PowerShell\PowerShell-Docker** repository, we will need the following capabilities in Azure DevOps Pipelines:

- Build the community's container image in `release/community-stable/` folder
- Test the community's container image with the current test script
- Publish the community's container image to Docker Hub's `pshorg/powershellcommunity

[2018-10-18 21:36] TravisEz13 commented on #65
Also, make sure image name is set correctly for community images

[2018-10-19 04:15] kiazhi commented on #65
I have fixed the `IMAGE_NAME` value in the Dockerfile in this PR #66 while doing some minor fixes.

[2018-10-19 04:29] kiazhi opened #67 "Add Parrot Security OS image"
- Parrot Security OS image for the Community

[2018-10-20 05:07] TravisEz13 commented on #65
Yeah, but image name is passed in by the build, so the value in the file has no real effect.

[2018-10-25 03:28] kiazhi opened #69 "Add Arch Linux image"
- Arch Linux image for the Community

[2018-10-25 03:54] kiazhi opened #71 "Add BlackArch image"
- BlackArch image for the Community

[2018-10-26 03:46] kiazhi opened #73 "Minor Markdown Issues"
- Bullet point Indentation

https://github.com/PowerShell/PowerShell-Docker/blob/0a8c100157902772f132e28aeddea44bb5931f3e/.github/PULL_REQUEST_TEMPLATE.md#L14-L18

- Incorrect `getLatestTag.ps1` file name

https://github.com/PowerShell/PowerShell-Docker/blob/0a8c100157902772f132e28aeddea44bb5931f3e/docs/development.md#L31-L33
https://github.com/PowerShell/PowerShell-Docker/blob/0a8c100157902772f13

[2018-10-29 22:35] kiazhi commented on #73
Merged PR #74.
Closed Issue #73.

[2018-10-29 22:35] #73 closed

[2018-11-12 23:02] kiazhi opened #80 "Add AmazonLinux image"
- AmazonLinux image for the Community

[2018-11-15 04:10] kiazhi opened #83 "Add Oracle Linux image"
- Oracle Linux image for the Community

[2018-11-21 22:45] kiazhi opened #86 "Add Clear Linux image"
- Intel's Clear Linux image for the Community

[2018-11-22 09:45] kkbruce opened #88 "How to setup $env:Path in pwsh.exe in powershell:nanoserver-1803 container?"
I want build some application use `mcr.microsoft.com/powershell:nanoserver-1803`, but can't set `$env:PATH` by `SetEnvironmentVariable` method.

How to setup `$env:Path` in pwsh.exe in `powershell:nanoserver-1803` container?

Steps to reproduce
------------------

Sample Dockerfile

[code]

Expected behavior
-----------------

`SetEnvironmentVariable` is work.

[code]

Actual behavior
------------

[2018-11-30 13:51] pschichtel opened #89 "Images for for Windows Server 2019 (1809)"
Currently there doesn't seem to be a powershell docker images based on core or nano that is compatible with with Windows Server 2019 (1809) hosts. A nanoserver image is already available via `mcr.microsoft.com/windows/nanoserver:1809`.

[2018-12-03 22:41] #80 closed

[2018-12-03 22:46] TravisEz13 commented on #71
merged and I verified it's working

[2018-12-03 22:46] #71 closed

[2018-12-03 22:47] TravisEz13 commented on #67
verified

[2018-12-03 22:47] #67 closed

[2018-12-03 23:38] TravisEz13 commented on #69
verified

[2018-12-03 23:38] #69 closed

[2018-12-03 23:39] TravisEz13 commented on #65
Added release build https://github.com/PowerShell/PowerShell-Docker/pull/92

[2018-12-03 23:39] #65 closed

[2018-12-03 23:41] TravisEz13 commented on #83
verified

[2018-12-03 23:41] #83 closed

[2018-12-03 23:42] TravisEz13 commented on #88
Set the user variable and it will have the same effect on nano server.  Sorry, nano server is weird.

[2018-12-03 23:45] TravisEz13 commented on #88
Feel free to mention me on any of the issues you file in this repo.  It can take me some time to get around to looking at the issues otherwise (the fact that I've talked on this thread is equivalent now.)

[2018-12-03 23:48] TravisEz13 commented on #89
I'm waiting on an API to list the images from `mcr.microsoft.com`.  I asked them about this about an hour ago.

[2018-12-04 00:45] TravisEz13 commented on #61
I recommend this updated script:
[code]

[2018-12-06 01:16] kiazhi opened #95 "Add Photon image"
- VMware's Photon Linux image for the Community

[2018-12-12 00:06] #95 closed

[2018-12-13 02:22] kiazhi opened #103 "Recommends `$env:PSModuleAnalysisCachePath` to be located in `/var/cache/microsoft/powershell` folder"
Recommends the `$env:PSModuleAnalysisCachePath` variable uses `/var/cache/microsoft/powershell/PSModuleAnalysisCache/ModuleAnalysisCache` path instead of `/PSModuleAnalysisCache/ModuleAnalysisCache` path.

This is to respect the Linux Filesystem Hierarchy Standard defined in [5.5. /var/cache : Application cache data](https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch05s05.html)

#### Current `$en

[2018-12-13 03:57] kiazhi opened #104 "Community-Stable - Clear Linux - Invoke-WebRequest issue"
Unable to launch `pwsh` because it cannot find `libssl`.

**Reproduce Issue 1:**

[code]

**Output:**

[code]

**Reproduce Issue 2:**

[code]

**Output:**

[code]

[2018-12-13 21:12] TravisEz13 commented on #103
yes, we should respect the  Linux Filesystem Hierarchy Standard.

Normally this is a per user cache.  I don't think there is a good reason to keep it per user in the docker container.  We might want to add a comment or in a `/docs/DesignDecisions.md` in the repo about this decision.  Someone can always make another decision and alter our code a bit.

[2018-12-14 00:36] kiazhi opened #107 "Fix the `displayName` and `-TestLogPostfix` `String` in the Phase.yml file"
**Issue**
Community release job steps are displaying incorrect `displayName` and log file name.

https://github.com/PowerShell/PowerShell-Docker/blob/7f6699f10d23e3c8ccafce54953cbf3b1aa59d8a/.vsts-ci/phase.yml#L40-L50

_Originally posted by @TravisEz13 in https://github.com/PowerShell/PowerShell-Docker/pull/101#issuecomment-447123642_

[2018-12-14 22:49] #107 closed

[2018-12-14 23:17] #103 closed

[2018-12-19 03:54] beaudryj opened #110 "Can you please publish a Server2019 Nanoserver image to dockerhub"
There is currently no LTSC-2019 Docker image for Powershell NanoServer on dockerhub, is there plans to have one added?

Would be very nice to be able to pull an official image vs. building my own for things like teamcity, which rely on the powershell image to effectively run as a Nanoserver image.

https://github.com/JetBrains/teamcity-docker-server/blob/master/nanoserver/Dockerfile

[2018-12-26 14:57] kkbruce commented on #88
Hi @TravisEz13

` [EnvironmentVariableTarget]::User` is work, but funny.

Dockerfile

[code]

Build Step

[code]

Step 4/6: setting is work.
Step 5/6: `C:\Windows\system32;C:\Windows;` always restore by line first.

Thanks your help.

[2018-12-26 14:57] #88 closed

[2019-01-02 19:50] TravisEz13 commented on #110
We need features for mcr.microsoft.com to enable this.  There is a duplicate issue already open #89 which asks for windows server core and nanoserver

[2019-01-02 19:50] #110 closed

[2019-01-03 21:44] TravisEz13 opened #112 "ArchLinux failing"
[code]
@kiazhi
[tmpFdyRYx.tmp.txt](https://github.com/PowerShell/PowerShell-Docker/files/2725389/tmpFdyRYx.tmp.txt)

[2019-01-03 21:50] TravisEz13 opened #113 "clearLinux failing"
[code]
@kiazhi

[2019-01-03 21:51] TravisEz13 commented on #112
[tmpfXmDT0.tmp.txt](https://github.com/PowerShell/PowerShell-Docker/files/2725408/tmpfXmDT0.tmp.txt)

[2019-01-03 22:23] TravisEz13 commented on #89
Fixed in #111.  I will close the issue when the images are released.

[2019-01-04 00:33] TravisEz13 commented on #113
Please change this back to true (or delete the line) when the issue is fixed: https://github.com/PowerShell/PowerShell-Docker/blob/28c6585d92f8152bb972c29a172bc0cecb42974d/vsts-ci.yml#L147

[2019-01-04 00:35] TravisEz13 commented on #112
Please change these two line to false (or delete them) when this issue is fixed:
https://github.com/PowerShell/PowerShell-Docker/blob/28c6585d92f8152bb972c29a172bc0cecb42974d/vsts-ci.yml#L99
https://github.com/PowerShell/PowerShell-Docker/blob/28c6585d92f8152bb972c29a172bc0cecb42974d/vsts-ci.yml#L109

[2019-01-07 22:51] TravisEz13 commented on #89
FYI, I'm having a build issue with nanoserver in Azure Container Registry (ACR) for 1809.  I've escalated to ACR.  In the meantime, I've submitted a PR to unblock the release of ServerCore 1809.

To build the nanoserver images locally run:
[code]

`-IncludeKnowIssues` I'm currently adding.  The other channel is `preview` if you want the preview images.

When built like this, the nanoserver 1809 im

[2019-01-08 19:06] TravisEz13 commented on #89
I found a breaking change in `nanoserver 1809` that means I have to separate the dockerfile to get it working.  I opened PR #118 to address this issue, but I've already built the images and I'm in the release process now.

[2019-01-08 20:02] #89 closed

[2019-01-08 20:03] TravisEz13 commented on #89
All the images should be published now and the PR to address the issue has been merged.

[2019-02-07 06:16] arizvisa opened #124 "Including support for NTLM for the microsoft/docker container"
As per PowerShell/PowerShell#8817, the `microsoft/docker` container does not support NTLM which makes it pretty limited against what you can invoke WinRM with. I was under the assumption that NTLM would be implemented as part of PowerShell or at the very least be included as part of the container.

As per the blogpost at https://blog.quickbreach.io/ps-remote-from-linux-to-windows/, the container a

[2019-02-07 23:24] TravisEz13 commented on #124
The code exists here:
https://github.com/PowerShell/PowerShell-Docker/blob/master/release/stable/centos7/docker/Dockerfile
and
https://github.com/PowerShell/PowerShell-Docker/blob/master/release/preview/centos7/docker/Dockerfile
and (but this will be out of support in 6 days)
https://github.com/PowerShell/PowerShell-Docker/blob/master/release/servicing/centos7/docker/Dockerfile

[2019-02-07 23:57] arizvisa commented on #124
I mean I would expect you guys to fix anything you can? I mean, if you're going to do something why not do it well.

[2019-02-08 00:00] arizvisa commented on #124
To make it easier:

- Debian, and Ubuntu uses gss-ntlmssp
- Fedora, Redhat, and Suse use gssntlmssp
- (i think) gentoo uses app-crypt/mit-krb5 with a ntlm useflag
- Alpine will need mit-krb5 to build gssapi and then build-essentials (alpine-sdk iirc) then to compile gssntlmssp
- Suse will need build-essentials (the same as alpine) to build gssntlmssp
- Arch linux will use gss-ntlmssp,

[2019-02-08 00:03] arizvisa commented on #124
It's understandable if the ones that need building are not supported, but the ones with binary packages readily available is kind of silly to not support it in the "official" microsoft/powershell container.

If y'all are concerned about tainting the regular docker packages with non-microsoft code, at the very least it'd be good to have an official microsoft/powershell container with ntlm support.

[2019-02-08 01:09] TravisEz13 commented on #124
@arizvisa 	Also, finding the information on what the packages are called and how to install them is time consuming.

Feel free to submit a PR and we can review your code and take it if the change in acceptable.

We have to prioritize what issues we look into.  Although a dev made me aware of this issue, he did not look into it even to the details that the quickbreach blog gives.

I've asked @RDIL,

[2019-02-08 01:13] RDIL commented on #124
I'll look into it :)

[2019-02-08 19:38] TravisEz13 opened #128 "ArchLinux and BlackArch failing"
@kiazhi FYI
[code]

[2019-02-08 20:42] RDIL commented on #124
CentOS is done.  ✅

[2019-02-09 04:04] arizvisa commented on #124
Cool. Nice one, RDIL.

@TravisEz13, Yeah. I'm not really a fan of pwsh. I just think it's lame to build an official container and miss out on a key feature like remoting. There's literally hundreds of people asking how to get remoting to work from their machines. Pointing them at a container solves that problem..

Thanks for listening!

[2019-02-10 14:55] RDIL commented on #124
I would be willing to fix the other OS’s if you guys want me to.

[2019-02-10 21:44] TravisEz13 commented on #124
`apt install gss-ntlmssp`

[2019-02-11 16:59] kiazhi commented on #128
Thanks, @TravisEz13 for looping me in this.

I saw that the container image repo has been updated.

Basically, the ArchLinux dockerfile needs updating to include the `tar` package and some minor fixes so silent a `pacman -Scc` cache clean up command bug where it will complains a missing `/var/cache/pacman/pkg` folder that was automatically removed by a previous `pacman -Syyu` upgrade command.

The

[2019-02-11 18:44] TravisEz13 commented on #124
@arizvisa 	FYI, we release new docker images (usually all) whenever we release a new version of PowerShell Core.  It shouldn't be more than a week or two.

[2019-02-12 15:55] kiazhi commented on #124
I just found out that `gss-ntlmssp` package is not in the community repo and therefore `pacman` cannot find it and install it. That means in order to get that the ArchLinux image with `gss-ntlmssp` package, it will have to download source and use make to build the package with additional packages to assist the make.

May have to revisit this using a 2 stages dockerfile to reduce container image si

[2019-02-12 17:00] TravisEz13 commented on #124
@kiazhi 	Yup, I updated your PR with the metadata to skip the tests

[2019-02-15 00:41] TravisEz13 opened #140 "make the CI use the package template in the meta.json"

[2019-02-15 00:48] #128 closed

[2019-02-18 12:41] RDIL opened #149 "CI failing"
Basically the CI is failing on parrot and one Kali platform I can’t remember.
Cc @kiazhi

[2019-02-20 19:10] #149 closed

[2019-02-21 04:29] #113 closed

[2019-02-25 20:49] #140 closed

[2019-02-26 10:54] dtretyakov opened #164 "Windows 1809 nanoserver image has corrupted PATH"
## Steps to reproduce

The following command:
[code]
outputs `;C:\Program Files\PowerShell`

In the original `mcr.microsoft.com/windows/nanoserver:1809` image PATH is `C:\Windows\system32;C:\Windows;`

## Expected behavior

PATH is `C:\Windows\system32;C:\Windows;C:\Program Files\PowerShell`

## Details

In the following PR https://github.com/PowerShell/PowerShell-Docker/pull/118 was mentioned tha

[2019-02-26 11:12] dtretyakov commented on #164
@TravisEz13, also dotnet team is using this approach for nanoserver images starting from 1709:
https://github.com/dotnet/dotnet-docker/blob/master/2.2/sdk/nanoserver-1709/amd64/Dockerfile

In nanoserver sac2016 images `setx /M PATH` was working without admin rights requirement.

[2019-02-26 18:51] TravisEz13 commented on #164
`ContainerAdimistrator` is depreciated and the provided work around is not supported.

[2019-02-26 18:56] TravisEz13 commented on #164
https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/system-requirements#nano-server-vs-windows-server-core

[2019-02-27 20:18] #164 closed

[2019-02-27 20:19] TravisEz13 commented on #164
I merged the change, but it won't be fixed until we release a new set of images.

[2019-03-07 15:48] RDIL opened #170 "fedora28 Failing"
@kiazhi
https://powershell.visualstudio.com/docker/_build/results?buildId=15659
(I made sure that this was not an issue with the PR it was running on)

[2019-03-07 15:51] RDIL commented on #170
Never mind, it appears that the fedora mirrors are all offline.

[2019-03-07 18:44] TravisEz13 commented on #170
Are they back up now?

[2019-03-07 18:46] RDIL commented on #170
Not sure

[2019-03-07 18:47] TravisEz13 commented on #170
Let's keep this open then

[2019-03-07 20:11] TravisEz13 opened #172 "ClearLinux Web cmdlet tests are failing"
https://powershell.visualstudio.com/docker/_build/results?buildId=15850&view=logs&jobId=60e5e444-2a4b-5d12-2458-36b8222e08ae&taskId=97b48e0a-f84a-564e-7ccf-14b7f1b35efe&lineStart=44&lineEnd=45&colStart=1&colEnd=1

[2019-03-07 20:23] TravisEz13 commented on #170
verified this is resolved

[2019-03-07 20:23] #170 closed

[2019-03-07 20:24] TravisEz13 commented on #61
This is fixed

[2019-03-07 20:24] #61 closed

[2019-03-07 20:28] RDIL commented on #172
@kiazhi

[2019-03-07 20:31] TravisEz13 commented on #172
I disabled the tests in #171 so this is not urgent.

[2019-03-08 13:45] RDIL opened #174 "Development docs out of date"
The docs in https://github.com/PowerShell/PowerShell-Docker/blob/master/docs/development.md still say that you need to make a `tags.json` file, it should be updated with the `"tagTemplates"` feature in `meta.json`.

[2019-03-08 18:52] TravisEz13 commented on #174
Yeah, This definitely needs to be done.  Do you want to try to write this?

[2019-03-08 20:47] TravisEz13 opened #178 "To use the amazonlinux image on AzureDevOps requires `adduser`"
@kiazhi 	@RDIL
How do you feel about adding `adduser` to the amazonlinux image?

@darwinJS
Not sure if you have any input?

[2019-03-08 23:08] RDIL commented on #178
Did you mean to put azurelinux in the title?  Also I have mixed opinions about this.

[2019-03-08 23:09] TravisEz13 commented on #178
no... third time is a charm

[2019-03-11 09:30] kiazhi commented on #178
Actually, I have no issue if you are planning to add `ec2-user` because that is the only account by default that can log in remotely using SSH; this account also has sudo privileges.

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/amazon-linux-ami-basics.html

If the plan to `adducer` is other than `ec2-user`, I will have mixed opinions about it.

[2019-03-11 20:19] TravisEz13 commented on #178
I would not add any user in the image unless someone files an issue.  Azure DevOps adds it's own user at run time and switches to it.  They just expect the utility to be there.  With the various distros of linux, I think that is reasonable.

[2019-03-11 22:17] RDIL commented on #124
@TravisEz13 can you update the checklist:
Ubuntu is done
Deb is done

[2019-03-16 19:06] #174 closed

[2019-03-19 14:47] RDIL commented on #124
@arizvisa or @TravisEz13 can one of you please check off Fedora as it is done

[2019-03-20 22:14] TravisEz13 opened #188 "preview-nanoserver-1809 temp folder does not have list permissions"
## Steps to reproduce

[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Environment data

[code]

[code]

[2019-03-22 18:17] TravisEz13 opened #192 "Clear Linux failing"
Continues on error is being enable to prevent it from failing CI

[2019-03-22 18:18] TravisEz13 commented on #192
Merged in #183

[2019-03-25 16:41] RDIL commented on #192
The issue appears to be that the `libcrypto` `so` file can't be found, meaning the copy fails.

[2019-03-26 10:45] kiazhi commented on #192
@RDIL The libcrypto.so.1.0.0 is needed.

Have you tried running your modified Dockerfile using the the build.ps1 script?

[code]

I updated the Dockerfile in PR #177 after I ran the build.ps1 script successfully without issue on local machine but when it is running in Azure DevOps CI environment it failed.

[2019-04-01 21:38] TravisEz13 opened #200 "Proposal: create a sub-image with `sudo` and other test dependencies"
# Create a sub-image with `sudo` and other test dependencies

## Motivation

We use our images for CI and the CI system expects `sudo` to already exist so it does not have to understand all the package management systems.

## Proposal

We can have images which have `sudo` and an image which does not.

These images would be published as `mcr.microsoft.com/powershell/test-deps`,
allowing us to add a

[2019-04-09 20:18] TravisEz13 opened #206 "Create test-dep images"
Please add a comment and say if you are going to work on something.  I'll put your name in the list.

cc @RDIL

## fix test-dep image for:
 - [x] preview cent-os

## Add Test-dep images:

### stable (Needed for release automation)

- [x] Alpine - @TravisEz13
  - special instructions: [non-glibc-containers][]
- [x] debian 9
- [x] fedora 28 - @TravisEz13
- [x] opensuse 42.3
- [x] ubuntu 16.04
- [x]

[2019-04-10 04:41] claude-leveille commented on #200
I personally maintain a collection of images that I intend for use in CI systems and have added sudo to those. I don't think it makes sense to add it here though. The only case where sudo is handy is when you're running in a CI system like Azure Pipelines, which doesn't run as root in the container. But, every other CI system I've used just runs as root. I can see how this would be convenient, but

[2019-04-10 11:53] RDIL commented on #200
I’d have to think about this.  One side of me says this is the right way to go, the other side says not to.

[2019-04-10 17:23] TravisEz13 commented on #200
@claude-leveille We are proposing that these would be sub-images.  Search for `Related Repos` on this page for the example I've published using `centos` https://hub.docker.com/_/microsoft-powershell

We need the images, and we don't want a second infrastructure to build them.  Technically we don't have to publish them, but it seems a waste to build them and not make them available.

[2019-04-10 20:08] claude-leveille commented on #200
I agree to make them just another tag in here, but I really would rather not have sudo in the more vanilla image set. I need to be able to use the vanilla images in production scenarios where I drop privileges and I don't want sudo to be there. Maybe I'd even use the vanilla images as the base for an image that contains a Spring backend (because I like having pwsh in there for when I need to take

[2019-04-11 00:43] TravisEz13 commented on #188
I've escalated this to the windows team.

[2019-04-11 00:44] TravisEz13 commented on #178
Done in #202

[2019-04-11 00:44] #178 closed

[2019-04-11 10:51] DarwinJS commented on #178
@TravisEz13 - sorry I'm very late to the game here.  IMO AWS is a little too obsessive about minimalizing all their Amazon Linux 2 distros.  We have to add back stuff like wget to container **host** images (ECS Optimized).  Of course their container configuration is the most minimalized of all.

So that I can do tests of fuller builds on local docker, I now do monthly builds of Amazon Linux 2 cont

[2019-04-11 17:58] TravisEz13 commented on #178
We concluded that we should keep a minimal image with powershell, then a test-deps image that will include all the test-depenecies to run in azure devops pipelines.
The image is up here:  https://cloud.docker.com/u/pshorg/repository/docker/pshorg/powershellcommunity-test-deps

The base image is here: https://cloud.docker.com/u/pshorg/repository/docker/pshorg/powershellcommunity

[2019-04-23 19:05] SergeySypalo opened #219 "Start PowerShell Docker container with 3rd-party modules preloaded"
Hi guys,
I'm trying to figure out how to start a PowerShell container with 3rd-party preloaded modules.
The Dockerfile is pretty simple:
[code]
But when I build the container and start it using: docker run -it ucs pwsh
And inside a container run **Get-Module** I didn't see loaded modules.
So why it's not picking up modules from the standard location or how I can update **$Env:PSModulePath** variab

[2019-04-23 19:07] RDIL commented on #219
Hey,
have you confirmed the `COPY` phase doesn't fail?

[2019-04-23 19:20] SergeySypalo commented on #219
Yes, all files are in place.

[2019-04-23 21:06] TravisEz13 commented on #219
@SergeySypalo Can you share a repo with the code or the container?

[2019-04-24 04:25] SergeySypalo commented on #219
Windows 10, build 18875.1000

[2019-04-24 12:58] RDIL commented on #219
I think we’re going to need a little more information then that.

[2019-04-24 17:55] TravisEz13 commented on #200
This is implemented.  So, I'm closing the issue.

[2019-04-24 17:55] #200 closed

[2019-04-24 19:27] TravisEz13 commented on #219
@SergeySypalo Can you share a repo with the code or the container?  Without a more complete example, I don't think I can help.

[2019-04-24 19:35] TravisEz13 commented on #219
@SergeySypalo Without your files, I've verified I cannot repro.

[code]

result
[code]

[2019-04-24 19:41] TravisEz13 commented on #219
Oh, FYI, modules aren't loaded by default.  It get modules that aren't yet loaded you have to run `Get-Module -ListAvailable`

## To get the loaded modules, from in the container
[code]

### These modules are loaded automatically

[code]

## To get all the modules, from in the container that start with Cisco
[code]

### These are all the modules (in [my container](https://github.com/PowerShell/Pow

[2019-04-24 19:42] #219 closed

[2019-04-24 19:58] fib0nacci opened #220 "Must be root to run pwsh in Alpine"
## Steps to reproduce
Create a DockerFIle that sources an Alpine container of PowerShell as follows:
[code]
Create a PowerShell script that sets the interpreter to pwsh, and then writes "Hello world"

[code]

## Expected behavior

The PowerShell script will run and output "Hello world"

## Actual behavior

Receive an error stating " exec user process caused "permission denied" "

Upon investigatio

[2019-04-24 20:17] paulpc commented on #220
Also, notice that pwsh is world writable on alpine

[2019-04-24 20:26] TravisEz13 commented on #220
@paulpc Please open a new issue for the world writable as this issue is already fix.
https://github.com/PowerShell/PowerShell-Docker/pull/214/files

I'm deploying the fixed images now.

[2019-04-24 20:26] #220 closed

[2019-04-24 21:20] TravisEz13 commented on #220
@paulpc  Opened PR #221  for the Writable issue.

[2019-04-25 07:06] SergeySypalo commented on #219
Hey Travis, you answered my first question, how to made 3rd-party modules being available, but not the main one, how to get this loaded.
I'm not interested in default PowerShell behavior, that's why I'm created this topic, I need not only Cisco UCS but also other modules (PowerCLI, NetApp, etc) to be loaded already when container starts, so engineers don't need to list available containers and imp

[2019-04-25 12:26] SergeySypalo commented on #219
Found this really interesting discussion: https://powershell.org/forums/topic/does-powershell-core-6-1-not-automatically-import-modules/

Created a file `Start-UcsPowerTool.ps1` with just one line inside `Import-Module Cisco.UCS.Core`

[code]
No luck, after container start $profile still pointing to the same location:
`/root/.config/powershell/Microsoft.PowerShell_profile.ps1`

But there is no suc

[2019-04-25 20:08] TravisEz13 commented on #219
You would need to load the module in your session.  Each run creates a new session.  You cannot change `$profile` as it would not affect the next session.

[2019-04-26 07:18] SergeySypalo commented on #219
I expected this, so changing $profile won't help, then I have to change file contents `/root/.config/powershell/Microsoft.PowerShell_profile.ps1`
to have a line `Import-Module Cisco.UCS.UCSManager`
So in theory when new PS session starts, when I run container, it would execute the command for me from the profile, but as there is no such file on the filesystem, is it a bug in PowerShell Core, or wh

[2019-04-26 09:07] SergeySypalo commented on #219
Finally got it to work, final working solution:
[code]

[2019-04-26 23:30] adityapatwardhan opened #222 "Verify all hashes for powershell images"
## Steps to reproduce

[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Environment data

[code]

[code]

[2019-05-02 18:12] TravisEz13 opened #223 "Use slim image where possible"
example debian:9-slim

[2019-05-02 18:22] RDIL commented on #223
I will do this in a few mins.
(please assign me so I don’t forget)

[2019-05-02 18:25] TravisEz13 commented on #223
We should look at the other images and see if we can make the changes there, too.

[2019-05-02 18:29] TravisEz13 commented on #223
https://github.com/PowerShell/PowerShell-Docker/blob/d93bbedb86b748923e0e762a410eefd602165754/release/preview/debian9/getLatestTag.ps1#L7

`stretch` needs to be changed to `stretch-slim`

and
https://github.com/PowerShell/PowerShell-Docker/blob/d93bbedb86b748923e0e762a410eefd602165754/release/preview/debian9/getLatestTag.ps1#L14
needs to be change from `stretch-\d{8}[\.\d{1}]?` to `stretch-\d{8}[\

[2019-05-02 22:08] TravisEz13 opened #226 "Source image for openSUSE needs to be updated"
leap is the equivalent of what we were using

[2019-05-02 22:35] RDIL commented on #226
I can take care of this next week

[2019-05-02 22:41] TravisEz13 commented on #226
@RDIL  that works.  make sure to update the gettags script.

[2019-05-03 17:23] TravisEz13 commented on #223
Verified deb is the only image with slim image

[2019-05-06 19:32] TurtleBeach opened #228 "Path Issues nanoserver 6.2.0-nanoserver-1809_kb4480116_amd64"
## Steps to reproduce
Start a container based on the Powershell nanoserver image in title, making CMD the default shell and leave it (CMD) running.
When container starts, type pwsh to start Powershell

[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Environment data

[code]

[code]

[2019-05-06 19:34] TravisEz13 commented on #228
Please Provide a repro.  What image are you using?  What is the docker command line?

[2019-05-06 19:39] TravisEz13 commented on #228
Please add Repro steps.  What image are you using?  What is the docker command line?

[2019-05-06 19:43] TurtleBeach commented on #228
I believe everything is in the post - just build a container based on what I think is the latest nanoserver with Power Shell image (see title), leaving CMD as the default shell and running when the container starts. Then (try to) start Powershell. It won't run unless path is updated in container or the full path to pwsh.exe is entered. Which I think is strange since the image is a Powershell image

[2019-05-06 19:45] TravisEz13 commented on #228
If you are building a custom container, please provide the docker file and the build command.

[2019-05-06 20:03] TurtleBeach commented on #228
I clicked the New Issue button on an issue from February referencing problems with path in Powershell Image. Seemed to be appropriate.

**Docker File:**
FROM mcr.microsoft.com/windows/nanoserver:1809-KB4493509-amd64
LABEL description = "A Container for testing Dockerfiles"
LABEL maintainer = "jack@neuralstudio.ai"

USER ContainerAdministrator
CMD echo Elvis is entering the building...  & cmd

**Do

[2019-05-06 20:10] TravisEz13 commented on #228
`NanoServer` has no PowerShell

Update this
`FROM mcr.microsoft.com/windows/nanoserver:1809-KB4493509-amd64`
to
`FROM mcr.microsoft.com/powershell:6.2.0-nanoserver-1809_kb4480116_amd64`

Current tags can be found here:
https://hub.docker.com/_/microsoft-powershell

The full tag listing can be found here:
https://mcr.microsoft.com/v2/powershell/tags/list

[2019-05-06 20:10] #228 closed

[2019-05-06 21:00] TurtleBeach commented on #228
Travis,

Apologies, that in my haste to create a simple Docker file I referenced the wrong image. I don’t want to create a new issue, but I am in fact using the Powershell image you referenced in my “working test” container.

The anomaly that drove me up the wall is actually related to whether or not there is a trailing semicolon when the path is set. Please bear with me – and trust me when I say

[2019-05-06 23:23] TravisEz13 commented on #228
I'm sorry.  I'm not able to repro your problem.

[code]

[2019-05-07 00:00] TurtleBeach commented on #228
Travis,

It appears I still have not been clear. The issue arises when, during container creation, a batch file is generated which, when executed in the container on container startup,  sets the path to the Java JDK. Please look carefully at my prior e-mail.

(1) if a path is APPENDED to the current path (e.g., %PATH%;<new-path>), and the (new appended) path does not have a trailing ; (semicolon),

[2019-05-07 00:17] TravisEz13 commented on #228
@TurtleBeach What batch file?  Who is providing this batch file?  You should work with the team that is providing this batch file.

[2019-05-07 00:38] TurtleBeach commented on #228
Travis,

I wrote the batch file. I wrote the Docker file. I create a container which needs Java, and thus I need to set the path for Java. And Set Path in a nanoserver image is behaving oddly. I am sorry, but I don’t think I can improve on my explanations.

Jack
____________________________
Jack Copper
Managing Director
NeuralStudio SEZC
Strathvale House, 90 N Church St
PO Box 10315 Grand Cayman K

[2019-05-07 00:40] TravisEz13 commented on #228
Then, please update the batch file to add a semicolon before the end of the path.  There is nothing wrong with the current path.

[2019-05-07 00:54] TravisEz13 commented on #228
I've created a PR, but technically this is not a bug.  This is an enhancement.  We are adding a feature where you can append to the path without determining if there is already a trailing semicolon.

We should be able to release this in this months release cycle, which should occur next week.

[2019-05-07 00:58] TurtleBeach commented on #228
Yes, I know I can do that (and have done that). BUT, as I have been trying to communicate, the behavior on nanoserver is DIFFERENT from the behavior on other Windows (e.g., I just checked on Windows 10 Pro):

C:\Users\Admin>

C:\Users\Admin>path
PATH=C:\ProgramData\DockerDesktop\version-bin;<ALL INTERMEDIATE ENTRIES REMOVED>%USERPROFILE%\AppData\Local\Microsoft\WindowsApps;          <NOTE TRAILING

[2019-05-07 01:01] TravisEz13 commented on #228
See https://github.com/PowerShell/PowerShell-Docker/issues/228#issuecomment-489864388

[2019-05-08 23:05] adityapatwardhan opened #230 "Publish image for alpine 3.9"
Please publish a docker image based of alpine 3.9

[2019-05-09 22:38] MattGal opened #231 "SetX is not persisting environmental settings on 1809 images (works on 1803)"
## Steps to reproduce

Build this dockerfile based off your image:
[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Environment data

[code]

[code]

[2019-05-09 22:41] TravisEz13 commented on #231
`setx` is nanoserver feature.  Please file an issue in uservoice:  https://windowsserver.uservoice.com/forums/295047-general-feedback

BTW, I've already filed this issue internally.

[2019-05-09 22:41] #231 closed

[2019-05-09 22:42] TravisEz13 commented on #231
We did find a workaround, but I know this workaround did not work in older versions of nanoserver:
https://github.com/PowerShell/PowerShell-Docker/blob/5d12bb11a32280cecd3cd74e51c8618687bc4943/release/preview/nanoserver1809/docker/Dockerfile#L73

[2019-05-09 22:43] TravisEz13 commented on #231
Also, see https://github.com/PowerShell/PowerShell-Docker/issues/164

[2019-05-15 00:18] #223 closed

[2019-05-23 23:46] TravisEz13 commented on #206
We can consider this implemented.  Anyone can add the community test-dep if they want.

[2019-05-23 23:46] #206 closed

[2019-05-25 15:00] TurtleBeach opened #234 "Powershell nanoserver image missing VS2017 runtime redistributables"
## Steps to reproduce
download latest nanoserver image with powershell
[code]
Create a container with application or DLLs built using VS2017.
## Expected behavior
The application should run in container. At this point in time I would expect nanoserver image to have the VS2017 redistributable DLLs (vcruntime140.dll, concert140.dll, etc.) in Windows\System32
[code]

## Actual behavior
Runtime DLLs a

[2019-05-25 16:56] RDIL commented on #234
Can reproduce

[2019-05-26 18:30] TravisEz13 commented on #234
For this you should use the dotnet-sdk image, which now in 3.0 includes PowerShell.

https://hub.docker.com/_/microsoft-dotnet-core-sdk

[2019-05-26 18:30] #234 closed

[2019-05-26 18:32] TravisEz13 commented on #234
The other option is to build an image which includes the files you need.  The VS2017 runtime redistributable are not required for PowerShell Core and would greatly increase the size of the image.

[2019-05-26 19:10] TurtleBeach commented on #234
@TravisEz13 Thanks for the response. I did in fact add VS2017 redist as part building the container. But I do still find it puzzling that VS2013 runtime DLLs (for C/C++ projects) are included, but not VS2017 runtime DLLs (would add a little over 1 MB to image). Maybe the larger question is, what are the various images for, and what do they contain? Is a "Powershell" image intended ONLY for use by

[2019-05-28 17:36] TravisEz13 commented on #234
We only add runtime DLLs required by PowerShell.

Missing Windows functionality should be filed with the Windows team.

[2019-05-28 17:37] TravisEz13 opened #235 "Document the purpose of the images"
Create documentation about the purpose of the images.

[2019-05-28 17:39] TravisEz13 commented on #234
I filed https://github.com/PowerShell/PowerShell-Docker/issues/235 to document the purpose of the images.  The images are only intended to run built-in PowerShell functionality.  If you want to run other functionality, you may need to extend the image.  That is why the Dockerfiles are published.  Docker also allows you to build on top of our images.

[2019-06-04 21:27] brianharwell commented on #164
When will new images be published?

[2019-06-04 21:31] TravisEz13 commented on #164
We publish new images at least once a month.

This change would have been published by March.

[2019-06-04 21:41] brianharwell commented on #164
Do you know the image and tag?

[2019-06-04 21:42] TravisEz13 commented on #164
`mcr.microsoft.com/powershell:nanoserver-1809`

[2019-06-04 22:01] brianharwell opened #236 "Cannot set path in Windows 1809"
## Steps to reproduce

The following Dockerfile results in an image that either fails to build or does not set the path environment variable...

[code]

## Expected behavior

To be able to set the path environment variable

## Environment data

Server Version: 18.09.2
Storage Driver: windowsfilter
 Windows:
Logging Driver: json-file
Plugins:
 Volume: local
 Network: ics l2bridge l2tunnel nat null

[2019-06-04 22:20] TravisEz13 commented on #236
Yes, this is a know issue with the underlying image.
See https://github.com/PowerShell/PowerShell-Docker/issues/231

[2019-06-04 22:20] #236 closed

[2019-06-04 22:22] TravisEz13 commented on #236
Please also see https://github.com/PowerShell/PowerShell-Docker/issues/164 which you JUST commented on

[2019-06-04 22:25] TravisEz13 commented on #236
In nanoserver 1809, the method used here in the Dockerfile is the only method that will work:
https://github.com/PowerShell/PowerShell-Docker/pull/165/files#diff-27ac98a3293c888d660df1794159c00fR72

[2019-06-04 22:26] brianharwell commented on #236
Yes and I thought #164 was my issue but when you said it was fixed I realized my issue is different.

[2019-06-04 22:26] brianharwell commented on #236
Thank you for the workaround

[2019-06-04 22:27] TravisEz13 commented on #236
Another workaround is to use `nanoserver-1803`.

[2019-06-04 22:29] TravisEz13 commented on #236
#164 was caused by the issue you were hitting.  I cannot fix it because it's a nanoserver docker issue.  I've been assured that it will be fixed in what should be `1909`

[2019-06-04 22:33] TravisEz13 commented on #236
@brianharwell  I updated the issue description in #164 to include a note about this.  Could you review?

[2019-06-04 22:33] brianharwell commented on #236
Ok thx! Great seeing you at DockerCon!

[2019-06-04 22:34] brianharwell commented on #236
Looks good!

[2019-06-21 18:37] #226 closed

[2019-06-21 20:35] TravisEz13 commented on #226
@RDIL 	thanks!

[2019-06-29 04:42] riverar opened #238 "Missing 1903 nanoserver/wscore images"
Missing tags/images for the latest release of Windows 10, 1903.
See: https://hub.docker.com/_/microsoft-powershell?tab=description

[2019-06-30 18:50] TravisEz13 commented on #238
This is the first request we have had to add this image.

[2019-06-30 18:53] riverar commented on #238
@TravisEz13 I think most expect `:latest` to remain up to date and not need to file a request. If that's not the case, please document as such.

[2019-06-30 20:00] TravisEz13 opened #240 "Automate the addition of new images from windows"

[2019-06-30 20:00] TravisEz13 commented on #240
requested in #238

[2019-06-30 20:03] TravisEz13 commented on #238
I file an issue for this feature request.  We have things like Dependabot to automatically file PRs for NuGet package changes.  The problem is that there is so far there have always been breaking changes.  So automating it without a human involved would just cause things to break.

I'll ask the MCR team for a feature where they open an issue on PR when an image in the MCR we depend on changes.

[2019-06-30 20:03] TravisEz13 commented on #238
I opened #240  to track this work.

[2019-06-30 20:08] TravisEz13 opened #241 "Add tests for 1903 when agent is available"
In PR #239 , we added 1903 images and we are not able to test the images.

[2019-06-30 21:13] TravisEz13 commented on #238
#239 is done to add 1903. I need a code review.  That probably won't happen until Monday unless @RDIL is online.

The changes are simple and RDIL has enough experience in the code base.

Once it is merged, I can do the release.  Updating the tag list is manual and requires two people.

[2019-07-01 19:03] #238 closed

[2019-07-01 22:42] TravisEz13 commented on #238
The images are now deployed

[2019-07-03 17:51] TravisEz13 commented on #240
Let'l consider this fixed until we find this process insufficient

[2019-07-05 22:47] TravisEz13 opened #245 "add `v` to the tar commands so that the files are listed for debugging"
cc @RDIL
see https://github.com/PowerShell/PowerShell-Docker/pull/244#discussion_r300806770

[2019-07-06 17:34] RDIL commented on #245
-v ?

[2019-07-06 17:45] TravisEz13 commented on #245
yes, verbose.

[2019-07-08 21:30] dependabot-preview[bot] opened #246 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/release/preview/fedora28/dependabot/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention

[2019-07-08 22:22] #246 closed

[2019-07-10 02:19] avishnyakov commented on #46
Kind of late take but should be useful for whoever finds this issue while googling SSL related issues with PowerShell on linux containers.

As @TravisEz13 and @benmishkanian mentioned, corporate systems might install their own certs. That breaks certs chain within the Docker container unless the right certs are installed within the container itself. Installation process is different from distro to

[2019-07-10 13:34] RDIL commented on #245
On it

[2019-07-11 13:37] #245 closed

[2019-07-30 18:21] dependabot-preview[bot] opened #251 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/release/preview/debian9/dependabot/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention

[2019-07-30 23:39] robertbaker opened #253 "Add image for ClearLinux"
Please add a docker image for ClearLinux once https://github.com/PowerShell/PowerShell/issues/10261
and https://github.com/dotnet/core/issues/3124 are completed

[2019-07-31 18:01] TravisEz13 commented on #253
This image already exists and is only community supported because DotNet does not support the Distribution

[2019-07-31 18:02] TravisEz13 commented on #253
https://github.com/PowerShell/PowerShell-Docker/issues/192

[2019-07-31 18:04] #251 closed

[2019-07-31 18:07] TravisEz13 opened #254 "KaliRolling is disable due to hanging"
https://github.com/PowerShell/PowerShell-Docker/pull/252

cc @kiazhi

[2019-07-31 21:26] dependabot-preview[bot] opened #255 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/release/preview/debian9/dependabot/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention

[2019-08-01 23:25] adityapatwardhan opened #257 "Fedora test-dep images are always using Fedora 28 as base image"
## Steps to reproduce

[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Environment data

[code]

[code]

[2019-08-02 00:00] #253 closed

[2019-08-02 00:05] #255 closed

[2019-08-02 23:39] cdarais opened #259 "Can't use Enter-PSSession"
I can't get PSSessions to work. Maybe i'm just don't know how to do it? I can't find anything on forums with this problem... so Here we go

## Steps to reproduce

docker exec -it  <powershell container> pwsh
PS /> Enter-PSSession -ComputerName "computer" -Credential "credentials"

## Expected behavior

At this point I should be in a PSSession on the computer but instead I get this error

## Actual

[2019-08-03 00:21] RDIL commented on #259
I think remoting was disabled for some reason.  Cc @PaulHigin

[2019-08-03 01:12] cdarais commented on #259
Hmmmm any idea why? That is one of the most useful powershell features imo

[2019-08-03 17:47] TravisEz13 commented on #259
@cdarais What computer are you trying to remote into?

[2019-08-03 17:50] TravisEz13 commented on #259
`-ComputerName` is for windows remoting `-HostName` is for SSH remoting.
The docs are here:  https://docs.microsoft.com/powershell/scripting/learn/remoting/ssh-remoting-in-powershell-core?view=powershell-6

[2019-08-03 19:17] cdarais commented on #259
A number of computers on a domain. One is named inf-net01

[2019-08-03 19:53] TravisEz13 commented on #259
Are they windows or Linux?  Do you want to use WS-Man remoting or SSH remoting?

[2019-08-19 09:36] rexhinvorpsi opened #264 "Running msi files in Powershell 7 Preview 2 image"
Hi , i am having an issue installing a msi file using the powershell image mcr.microsoft.com/powershell:7.0.0-preview.2-nanoserver-1809.
The same command works on a mcr.microsoft.com/windows/servercore:ltsc2019 image.
Thank you for your help
## Steps to reproduce

[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Environment data

[code]

[code]

[2019-08-19 14:06] #264 closed

[2019-08-19 14:07] rexhinvorpsi commented on #264
no msi support for nanoserver

[2019-08-20 17:18] Pr0methean opened #265 "Ubuntu 19.04 image"
Ubuntu 19.04 currently has no Powershell Docker image, and the template for https://github.com/PowerShell/PowerShell/issues/10394 indicates that one is needed to create the Ubuntu package.

[2019-08-20 19:55] TravisEz13 commented on #265
This is an interim release per Ubuntu (https://ubuntu.com/about/release-cycle) . We don't support interim releases.

[2019-08-20 19:55] #265 closed

[2019-08-20 19:56] TravisEz13 commented on #265
Feel free to add a community support image.

[2019-09-04 14:32] glennoph opened #267 "Powershell centos-7 returns version v6.0.4, not 6.2"
## Steps to reproduce

[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Environment data

[code]

[code]

[2019-09-04 18:45] TravisEz13 commented on #267
Triaging this is a question as the repro is incomplete.
Here is an example of a complete repro

Repro
[code]

Expected and Actual
[code]

[2019-09-04 21:58] glennoph commented on #267
Thanks for quick response.
Our Dockerfile had the following:
FROM microsoft/powershell:centos-7

Is that image not being used any more?
We got that from
https://hub.docker.com/_/microsoft-powershell

[2019-09-05 19:38] TravisEz13 commented on #267
That page on docker hub (https://hub.docker.com/_/microsoft-powershell) has been updated with the new address of the image for sometime.  Please use the new image or file an issue with explaining why you cannot move to the new image and we can **try** to request a policy exception, but by default Microsoft images are now on `mcr.microsoft.com`

On docker hub you can find this at the following plac

[2019-09-08 21:28] glennoph commented on #267
Thanks!
mcr.microsoft.com/powershell is working for me.

[2019-09-08 21:28] #267 closed

[2019-09-09 18:28] TravisEz13 commented on #267
No problem.

[2019-09-13 21:42] #230 closed

[2019-09-18 08:47] doctordns opened #270 "Unable to Install Docker using PowerShell 8 (P.3)"
Trying to install Docker inside WIndows Server 2019 fails. It does not appear to be possible to install the latest version of Docker using PWSH 7 (P3).

## Steps to reproduce

[code]

## Expected behavior

This should have installed Docker - and it works in PWSH 5.x

## Actual behavior

[code]

## Environment data

[code]

[code]

[2019-09-23 22:37] SteveL-MSFT opened #272 "`Enter-PSSession -ContainerID` no longer working with nanoserver docker image"
## Steps to reproduce

[code]

## Expected behavior

[code]

## Actual behavior

[code]

Debugging this, the actual problem is that `HcsCreateProcess()` reports it can't file pwsh.exe.  Seems like the system PATH env var isn't setup to find pwsh.exe.

## Environment data

[code]

[code]

[2019-09-25 20:56] #272 closed

[2019-09-28 19:03] RDIL commented on #274
Not quite sure, that doesn't make much sense actually.

[2019-10-02 16:46] christophwille opened #276 ".NET Core 3 Docker Images + Host PowerShell + Remoting to Exchange Online"
Similar to https://github.com/PowerShell/PowerShell/issues/7781 but this time around inside a .NET Core 3.0 Preview 7 Docker Image.

I first failed with the default-generated dockerfile (Debian), so I switched to Ubuntu Bionic. However, the error message was the same (WSMan missing). Initially I tried (again) to add all various NuGets (please see https://github.com/christophwille/pscore-playground

[2019-10-05 21:19] dependabot-preview[bot] opened #278 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/release/preview/centos7/dependabot/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[2019-10-05 21:46] #278 closed

[2019-10-10 02:38] kiazhi opened #280 "ArchLinux failing"
Archlinux CI/CD building failing due to base container image changes in folder structure.

[2019-10-10 15:49] kiazhi opened #282 "BlackArch failing"
BlackArch CI/CD building failing due to base container image changes in folder structure.

[2019-10-10 21:08] RDIL commented on #270
Hey, can you try with the latest preview and see if that fixes it?

[2019-10-11 02:56] #280 closed

[2019-10-11 14:51] RDIL commented on #192
@kiazhi  it is an issue on my local machine:
[code]

[2019-10-11 15:56] #282 closed

[2019-10-11 16:24] #235 closed

[2019-10-15 13:49] RDIL commented on #254
It looks like this is now fixed

[2019-10-15 13:58] RDIL commented on #124
Status update as of Yesterday:
- [x] Evaluate other image
- stable images
  - [x] CentOs7
  - [x] Ubuntu Images
  - [x] Debian Images
  - [x] Fedora Images
  - [ ] Alpine (working on now)
  - [ ] openSUSE (planned)
 - preview images - basically same as above
 - [ ] All Community Stable Images

[2019-10-16 03:23] kiazhi opened #289 "ParrotSec is failing"
ParrotSec/Parrot container image building is failing.

[2019-10-18 19:51] TravisEz13 opened #296 "Add ARM image to build"
You can run PowerShell Core in a Docker container on a ARM device, such as a Raspberry Pi. There is not currently a pre-built container image published to a public repository, such as Docker Hub. However, you can build your own container image by downloading the `Dockerfile` for [PowerShell Core on ARM](https://github.com/PowerShell/PowerShell-Docker/blob/master/release/stable/arm32v7/docker/Docke

[2019-10-18 19:53] TravisEz13 commented on #296
@RDIL or @kiazhi  This image builds.  Do you want to try adding it to the Build/CI system.  I'm sure tests will have issues, you can leave that to me if you want.

[2019-10-22 06:18] kiazhi opened #297 "Revisit gssntlmssp install issue on AmazonLinux"
Revisiting #184 because `epel-release` and `gssntlmssp` packages were never found from Amazon supported repository.

[code]
 Docker build with issue since `yum` is complaining about unable to find `epel-release` and `gssntlmssp` packages.

[2019-10-22 06:45] kiazhi commented on #296
@TravisEz13 I think having ARM in Build/CI system is a good addition. I have no doubt on @pcgeek86 (Trevor) contribution.

[2019-10-22 07:29] kiazhi commented on #192
@RDIL I need to revisit this ClearLinux distro again because that `libcrypto.so.1.0.0` file seems to be moving target (eg. goalposts) in their `cryptoprocessor-management` bundle. The last time I ran it, the `libcrypto.so.1.0.0` file is there but I think whoever maintain that `cryptoprocessor-management` bundle might have pull it out.

[2019-10-22 17:56] TravisEz13 commented on #296
The main issue is that the files for the build system, like metadata.json and gettags.ps1 where not added.

[2019-10-22 18:07] RDIL commented on #296
I can take care of it within the next 2 weeks.

[2019-10-22 18:09] pcgeek86 commented on #296
@TravisEz13 I'd be happy to add these files, but you guys know your build system much better than me. Not sure I'm the best person to update it. It would take me a lot longer and pestering you with questions about how to add new container image builds.

[2019-10-22 19:43] gavinbarron opened #300 "[Question/Proposal] Azure CLI + PS Core image"
Hi!

In my own workflow I've been making frequent use of PS Core + Azure CLI. Does it makes sense to add a contribution for an image combining these two tools into the Community folder? Or is this something that you would prefer not to have in this repo?

[2019-10-22 19:57] RDIL commented on #300
I personally believe that as the purpose of these images is to be slim versions of PS core, that it wouldn't make too much sense to put an unnecessary tool in.  I feel like this would either need to be a sub-image, or not here at all.  This is just my opinion, as it is fully up to @TravisEz13.

[2019-10-22 23:41] TravisEz13 commented on #296
I have a PR open to add the files.  #301 . There are some GitHub issues currently preventing me from testing it.

[2019-10-22 23:45] TravisEz13 commented on #300
@RDIL's answer is correct about the purpose of these images.

I see two options:

1. Get enough support for this idea to support a separate image.
2. Add it to the test-deps sub-image
   * But if you do this, please add it to all the supported images, and add a test to verify that it is there.

[2019-10-23 06:08] kiazhi commented on #300
I suppose it may have to be on a separate stream if we need it, we will have to install Azure Cli and Az PSModule into image to make it a complete Bash and PowerShell container image that can be switch around.

[2019-10-24 19:26] TravisEz13 commented on #300
cc @SteveL-MSFT

[2019-10-25 15:00] RDIL commented on #9
I'll take over this, please assign me.

(maybe we can consider write access in the future, it doesn't allow me to commit to master but does allow me to help out in other ways, eg labeling issues/PRs)

[2019-10-25 16:32] TravisEz13 commented on #9
thanks

[2019-10-28 17:28] TravisEz13 opened #307 "Create a debian 11 image"
## Steps to reproduce

[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Environment data

[code]

[code]

[2019-10-28 17:29] RDIL commented on #307
on it

[2019-10-28 17:32] TravisEz13 commented on #307
Debian testing will eventually become debian 11...

[2019-10-28 17:53] RDIL commented on #307
What is the LTS codename?

[2019-10-28 17:57] RDIL commented on #307
Oh its bullseye okay

[2019-10-28 18:47] #297 closed

[2019-10-28 20:18] rhertzog commented on #307
How often are the docker images updated? The `debian:testing` docker image gets updated about once a month IIRC. And we're not referring to a stable release here, but a rolling release ultimately leading to debian 11 in 1.5 years from now.

[2019-10-28 20:19] RDIL commented on #307
Every time PowerShell core is released

[2019-10-29 14:49] RDIL commented on #124
Community Stable statuses:
* [X] Arch (black, normal)
* [X] Amzn
* [X] Oracle
* [X] Clear
* [X] Parrot
* [ ] Photon - I have no idea how photon works but I'll try to add it...

[2019-10-29 18:53] TravisEz13 commented on #307
@rhertzog If PowerShell Core has a security release, we update the docker images then.  If not, we usually still have a preview release.  Debian images are usually update every month (although I have not looked at the delay between our creation and theirs, MCR is supposed to be creating an event system so we can rebuild the image every time they update their images.)

[2019-10-30 15:55] he852100 opened #312 "create Failed"
system:centos8
[code]
[code]
[code]

[2019-10-30 18:52] TravisEz13 commented on #312
You need to clone the repo .

[2019-10-30 18:55] TravisEz13 commented on #124
@he852100 This repo is for issues with the docker container.  Please file issues with PowerShell in PowerShell/PowerShell.  Please don't pile onto a tangentially related issue.  I'm hiding the comments as unrelated.

[2019-10-30 19:04] TravisEz13 opened #314 "Add a doc describing peoples roles"
Docker has this doc:
https://github.com/docker/engine/blob/9e7d5ac5ea55dc57185f49476e03d6efa76b3512/MAINTAINERS#L54

Under their terms I would call @RDIL a curator and @kiazhi  `associated people`

cc @RDIL @kiazhi

[2019-10-31 00:54] he852100 commented on #312
**Invoke-Pester can't find it, it only exists in windowspowershell**
[code]

[code]
[code]

[2019-10-31 01:05] RDIL commented on #312
@he852100 have you tried running `Install-Module -Name pester -Scope CurrentUser -Force`?

[2019-10-31 01:21] RDIL commented on #192
I'm going to disable it in the community build until then so master passes.

[2019-10-31 03:28] he852100 commented on #312
thanks

[2019-10-31 03:28] #312 closed

[2019-11-01 16:38] RDIL commented on #274
Closing as this is resolved and hasn't had activity for a month.

[2019-11-01 16:38] #274 closed

[2019-11-01 19:02] AceHack commented on #274
This is not really resolved, just never received an answer.

[2019-11-01 19:11] TravisEz13 commented on #274
Changing the entry point limits how the container could be used.  See
https://github.com/PowerShell/PowerShell-Docker/issues/274#issuecomment-361087573
and
https://github.com/PowerShell/PowerShell-Docker/issues/274#issuecomment-361068634

[2019-11-02 18:49] AceHack commented on #274
From the comment you posted
In contrast, ENTRYPOINT should be used in scenarios where you want the container to behave exclusively as if it were the executable it's wrapping. That is, when you don't want or expect the user to override the executable you've specified.

This is the exact scenario of pwsh.  It should be entry point.

[2019-11-03 19:03] TravisEz13 commented on #274
Exactly, that is not the scenario.  Thanks for pointing out why it should not be the entry point.

[2019-11-04 02:48] AceHack commented on #274
That IS exactly the scenario of pwsh.  You are saying the opposite of me.

[2019-11-04 17:25] TravisEz13 commented on #274
This change was already tried and it broke existing automation.  I need enough data that this is what all of the community wants before I will make this change.  My assumption is that they don't want to be broken, without concrete data otherwise.

It maybe your scenario, but it would limit even how you could use the container. I could not even test the container without overriding the entrypoint.

[2019-11-04 18:27] #9 closed

[2019-11-04 18:27] #314 closed

[2019-11-04 19:18] RDIL opened #319 "Gitpod Broken"
* PowerShell extension never starts
* (Locally updated version) - Docker doesn't have daemon running

[2019-11-04 19:20] RDIL commented on #319
@TravisEz13 can you add an `Issue-External` or `Issue-Upstream` label? (or both)

[2019-11-04 19:34] RDIL commented on #319
Thanks

[2019-11-04 19:53] RDIL commented on #289
Still an issue: https://dev.azure.com/tplunk/docker/_build/results?buildId=1982

[2019-11-04 20:26] RDIL opened #321 "Remove the labels"
They are just metadata, and aren't read right now.  I just feel like it would be much cleaner without them.

[2019-11-05 18:07] TravisEz13 commented on #321
I'll have to follow-up with MCR.  They originally asked us to add them. Following this labeling standard:
http://label-schema.org/rc1/

[2019-11-05 21:10] TravisEz13 commented on #321
I think all of these are useful
[code]

I'm not sure about these
[code]

[2019-11-05 22:36] TravisEz13 opened #323 "Add tests to verify all security updates are applied"
See https://github.com/PowerShell/PowerShell-Docker/pull/322#discussion_r342807730

[2019-11-06 15:09] kiazhi commented on #289
hmm... interesting... 🤔   Why did `latest` got changed to `4`? There isn't a tag for it from parrot repo in docker hub since `4.0` is released till `4.6` / `latest`. 😄  @TravisEz13

https://github.com/TravisEz13/PowerShell-Docker/blob/3e8c590ec29148179acab3b2b3cf4cea5dcc0d5b/release/community-stable/parrot/getLatestTag.ps1#L7

[code]
 The following line above was found in the link below:

https://

[2019-11-07 20:39] SteveL-MSFT commented on #300
Agree with the conclusion @TravisEz13 summarized.  I do recognize that today AzCLI and AzPS don't have parity in capability so sometimes you need AzCLI even if you want to just use AzPS (or vice versa).  The AzCLI and AzPS teams are aware of this and this gap should get smaller over time.

[2019-11-08 00:00] #259 closed

[2019-11-08 01:59] RDIL commented on #254
Actually its not seemingly?

[2019-11-08 02:01] RDIL commented on #172
Fixed on master

[2019-11-08 02:01] #172 closed

[2019-11-08 02:03] #319 closed

[2019-11-08 15:05] RDIL opened #328 "Refactor repository for easier maintaining"
### Summary

We should refactor the repository to function like how `docker-library`'s repositories do.

I am going to use the Python image as an example here.

Port of what the do (basics) to what we can do:
* Each operating system has a `Dockerfile` in `templates/<os name>`
* This template contains all the instructions needed to build a actual Dockerfile
  * The templates are never run directly

[2019-11-08 15:19] RDIL commented on #289
👍 I see where this started, and I can see why it happened, so we should find a way to allow both solutions.

[2019-11-08 18:52] TravisEz13 commented on #328
Can you give links to actual examples?

[2019-11-08 18:54] TravisEz13 commented on #289
my change was because NOTHING was building...   I just don't have a lot of time to look at the community images.
I fixed it to cause something to build and fixed the engineering system to detect the issues in the future.
I gave up on fixing parrot because it was taking too long.

[2019-11-08 19:05] RDIL commented on #328
Sure -
* https://github.com/docker-library/python - the repo
* https://github.com/docker-library/python/blob/master/Dockerfile-alpine.template - example `Dockerfile` template for Alpine
* https://github.com/docker-library/python/blob/master/update.sh - generate real dockerfiles script

[2019-11-08 19:06] RDIL commented on #289
I see.

[2019-11-08 19:31] TravisEz13 commented on #328
I don't like this method.  During release builds, the variable has secrets in them.  I don't see how we would make this work.

[2019-11-08 19:32] TravisEz13 commented on #328
that is, unless we still use the args, and then I don't see the point.

[2019-11-08 19:35] RDIL commented on #328
With this, we can have a single Dockerfile, for each image in all 3 official channels, meaning only 1 file needs to be edited to, say, add a dependency.

[2019-11-08 19:37] TravisEz13 commented on #328
I don't see how.  We would still need a preview, stable, and soon LTS template as the code to produce COULD be different.   Even if they are the same 99% if the time, the 1% breaks this method.

[2019-11-08 19:46] RDIL commented on #328
The main motivation for this change is that I feel the build system right now is a bit overcomplicated.  I'm going to try to rewrite some parts of it later tonight.

[2019-11-08 19:46] #328 closed

[2019-11-08 19:55] TravisEz13 commented on #328
I agree the system is overly complicated, but we need to be sure not to remove features we still need.

Keep in mind that there are basically two build systems, which adds to the complexity.  One for the CI system and one for release builds.  Whatever your write needs to handle both.  This is complicated enough that some design needs to be considered.  Perhaps we should schedule and call.

Lets lo

[2019-11-08 19:56] RDIL commented on #328
Got it.

[2019-11-08 23:03] TravisEz13 opened #331 "Add a tests that libmi works"
run `try {New-PSSession} catch { $_.FullyQualifiedErrorId}`

expect `InvalidOperation,Microsoft.PowerShell.Commands.NewPSSessionCommand`

[2019-11-12 17:59] RDIL commented on #240
Closing due to stale activity

[2019-11-12 17:59] #240 closed

[2019-11-13 02:32] kiazhi commented on #289
Hmm... I tried updating it to `latest` and seems to be having issue... I guess I have been away from this repo for too long. 😄

[2019-11-13 03:14] RDIL commented on #289
We're refactoring the build system this week too 😄

[2019-11-13 05:37] kiazhi commented on #289
Ok. I will take a look after the refactoring.

[2019-11-13 19:08] TravisEz13 commented on #289
I **highly** suspect that the refactoring will take longer that a week unless you take a less ambitious approach than you initially suggested.  And, any refactoring will probably need to wait until after the 7.0 release.

[2019-11-13 19:56] RDIL commented on #289
Don't worry, I'm not doing that much.

We should also find a time to zoom

[2019-11-14 22:31] TravisEz13 opened #337 "Is the issue label bot working?"

[2019-11-14 22:35] #337 closed

[2019-11-14 22:37] #257 closed

[2019-11-14 22:37] #296 closed

[2019-11-14 22:38] TravisEz13 commented on #307
@rhertzog

[2019-11-14 22:38] #307 closed

[2019-11-14 22:42] TravisEz13 opened #338 "Should we have an azure CLI image?"
Hi!

In my own workflow I've been making frequent use of PS Core + Azure CLI. Does it makes sense to add a contribution for an image combining these two tools into the Community folder? Or is this something that you would prefer not to have in this repo?

[2019-11-14 22:42] #338 closed

[2019-11-15 13:20] RDIL commented on #289
@kiazhi I think it’s safe to say that the refactoring isn’t really going to start until me and @TravisEz13 come up with a plan for it, so feel free to do it now.

[2019-11-22 09:50] kkbruce opened #341 "Provider based Windows Server version 1909 image"
NanoServer and ServerCore based image is published to docker hub,

[code]

Could you build tag 1909 version?

[2019-11-22 19:09] TravisEz13 commented on #341
What do you mean `provider based`?

[2019-11-22 19:09] TravisEz13 commented on #341
If you are just asking for docker images, please search the repo before filing:  https://github.com/PowerShell/PowerShell-Docker/pull/333

[2019-11-25 00:36] kkbruce commented on #341
Yes, I need docker images. I will trace #333 , thanks.

[2019-11-25 00:36] #341 closed

[2019-11-26 23:48] wawa0210 opened #343 "Windows 10 1909 has been released , the mcr.microsoft.com/powershell:1909 is not exists"
## Steps to reproduce

[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Environment data

[code]

[code]

[2019-11-28 06:41] kkbruce commented on #343
@wawa0210
you can look at https://github.com/PowerShell/PowerShell-Docker/issues/341

[2019-12-03 02:10] RDIL opened #344 "Terms documentation page"
Todo: https://github.com/PowerShell/PowerShell-Docker/pull/333#issuecomment-553101112

[2019-12-04 21:26] #343 closed

[2019-12-04 21:27] TravisEz13 commented on #343
We don't need an open issue and a PR.

[2019-12-10 04:12] zhiweiv opened #347 "New-PSSession : This parameter set requires WSMan, and no supported WSMan client library was found."
## Steps to reproduce
docker run -it --rm mcr.microsoft.com/powershell:6.2.3-debian-stretch-slim pwsh

New-PSSession

## Expected behavior
The cmdlet works

## Actual behavior
New-PSSession : This parameter set requires WSMan, and no supported WSMan client library was found. WSMan is either not installed or unavailable for this system.

BTW:
the cmdlet works w/ mcr.microsoft.com/powershell:6.2.3-u

[2020-01-04 20:19] TravisEz13 commented on #347
libmi requires correct symbolic links to certain libraries for this to work.  Those did not exist in PowerShell 6.2

[2020-01-04 20:21] TravisEz13 commented on #347
I'd also recommend that you move to SSH based remoting as libmi is no longer supported.

[2020-01-06 00:00] #347 closed

[2020-01-07 00:11] JesterOrNot opened #353 "Ubuntu 19.04"
Was Told to file an issue here by Powershell/Powershell
Name of the Distribution: Ubuntu
Version of the Distribution: 19.04
Processor Architecture (One per request): x86_64

[2020-01-07 00:17] RDIL commented on #353
Please link the request issue upstream.

[2020-01-07 00:22] JesterOrNot commented on #353
Ok! Please See https://github.com/PowerShell/PowerShell/issues/11507

[2020-01-07 00:29] TravisEz13 commented on #353
This is an interim release of ubuntu, feel free to add a community image.

[2020-01-07 00:52] RDIL commented on #353
Sounds like a good plan to me.  I'll be here to help if you need any @JesterOrNot.

[2020-01-08 12:00] #353 closed

[2020-01-08 13:34] RDIL commented on #321
It says on the official website that this schema is deprecated...

[2020-01-08 13:36] RDIL commented on #289
Yeah no its not starting anytime soon

[2020-01-08 19:35] #344 closed

[2020-01-08 19:42] TravisEz13 commented on #321
and replaced by:
https://github.com/opencontainers/image-spec/blob/master/annotations.md

## Pre-Defined Annotation Keys

This specification defines the following annotation keys, intended for but not limited to [image index](image-index.md) and image [manifest](manifest.md) authors:
* **org.opencontainers.image.created** date and time on which the image was built (string, date-time as defined by

[2020-01-08 19:50] TravisEz13 opened #355 "Add Alpine 3.11 image"
https://github.com/PowerShell/PowerShell/issues/11525

[2020-01-10 23:45] TravisEz13 opened #359 "Enable UseAcr for windows builds"
https://github.com/PowerShell/PowerShell-Docker/pull/357

We are filtering to linux only in the PR because the tests don't know what to do.

[2020-01-14 20:37] TravisEz13 opened #362 "Community Stable CI"
During the refactor to support LTS releases, the `Community-Stable` name doesn't work anymore.  This raises a few questions.

- ~~The easiest fix is to rename `community-stable` to `community_stable`~~
  - ~~I think this is okay, We only have a couple of contributors and I'm cc`ing you on the change.~~
  - ~~**Actually, I think I have a workaround so we don't have to rename**~~
- Do we want a `com

[2020-01-14 20:41] RDIL commented on #362
Bullet one - works for me
Bullet two - no (community images are community maintained, and if people want to use them, they will need to go with the flow.)

[2020-01-14 20:43] TravisEz13 commented on #362
https://github.com/PowerShell/PowerShell-Docker/pull/363

[2020-01-14 21:08] TravisEz13 commented on #362
Bullet one is resolved.

[2020-01-24 15:51] ThomasNieto opened #369 "Add Linux Mint 19.3 Image"
Add Linux Mint 19.3 image.

[2020-01-24 16:01] RDIL commented on #369
What package format does it use?  RHEL, PKG, DEB, etc.?

[2020-01-24 16:09] ThomasNieto commented on #369
Looks like it uses `apt-get` which would be DEB correct?

https://community.linuxmint.com/tutorial/view/1525

[2020-01-24 16:12] RDIL commented on #369
Yup, alright, I can do this on Monday most likely.

[2020-02-09 21:34] felixfbecker opened #374 "Enhancement request: Add `ssh` to images"
## Summary
For Ubuntu-based images, this just needs an `apt-get install openssh-client`.

## Steps to reproduce

[code]

## Expected behavior

Should allow PS remoting over SSH

## Actual behavior

Error:
[code]
Digging into the `InnerException` reveals that it is because of missing `ssh`:

[code]

For Ubuntu-based images, this just needs an `apt-get install openssh-client`.

## Environment data

[2020-02-10 19:53] TravisEz13 commented on #374
cc @RDIL Do you want to take this?

[2020-02-10 19:59] RDIL commented on #374
I can't this week, sorry!

[2020-02-10 20:09] TravisEz13 commented on #374
@RDIL no problem

[2020-02-20 22:12] dependabot-preview[bot] opened #378 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/release/preview/opensuse423/dependabot/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[View the up

[2020-02-20 22:24] RDIL commented on #378
I’ll fix the config

[2020-02-24 15:03] mthalman commented on #188
Any progress on this?  This is causing the Azure Artifacts Credential Provider install [script](https://raw.githubusercontent.com/microsoft/artifacts-credprovider/master/helpers/installcredprovider.ps1) to fail because it attempts to use the TEMP folder.

[2020-02-26 01:37] TravisEz13 commented on #188
@mthalman Please file an issue with windows.  This is an issue with windows.

[2020-02-26 13:46] mthalman commented on #188
@TravisEz13 - You had commented that you had escalated this to the Windows team. So isn't there already an issue filed?

[2020-02-26 17:20] UrHuckleberry-creator opened #380 "Windows powershell"
## Steps to reproduce

[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Environment data

[code]

[code]

[2020-02-26 17:21] JustinGrote opened #381 "[Feature Request] Tag for Azure Devops Windows cached containers"
The current windowsservercore-1809 image has moved ahead of what is cached in the Windows-2019 Azure Devops image. As a result using these containers now take about double the time to initialize as they have to pull the new base image.
https://dev.azure.com/justingrote/Github/_build/results?buildId=691&view=logs&j=913ce52b-8ad3-5a93-c0fe-123235d07c67&t=db8fc2bf-0cbc-4cce-a2f6-5ea7541ec3be&l=57

I

[2020-02-26 17:21] UrHuckleberry-creator commented on #380
https://github.com/PowerShell/PowerShell-Docker/issues/380#issue-571539114

[2020-02-26 17:22] UrHuckleberry-creator commented on #380
`
![IMG_20200223_122849_6](https://user-images.githubusercontent.com/59637081/75370079-6ced4e80-5879-11ea-8c79-734c9edd3cab.jpg)
`

[2020-02-26 22:17] TravisEz13 commented on #380
closing an empty issue.

[2020-02-26 22:17] #380 closed

[2020-02-26 22:18] TravisEz13 commented on #188
@mthalman Actual customer issues tend to get issues fixed faster.

[2020-02-26 23:02] TravisEz13 commented on #381
It's a good idea but not practical.  Unfortunately the user needs to track this.  Whatever we tag will be out of date.

[2020-02-27 20:03] RDIL opened #383 "Move the failing images"
I think we should move the broken images like parrot into a different directory for now so we aren't wasting CI resources on them.  I'm thinking just a folder named unstable.

[2020-02-28 19:36] TravisEz13 opened #384 "WSC 1803 is EOL, remove the image"
cc @RDIL

[2020-02-28 19:38] RDIL commented on #384
ok, I can do it at ~3:30 my time, which would be I think 11:30 your time 👍

[2020-02-28 20:08] TravisEz13 commented on #384
No rush...

[2020-02-29 01:57] RDIL commented on #384
Nanoserver aswell?

[2020-02-29 02:03] RDIL commented on #384
Specifically which images?

[2020-02-29 23:59] TravisEz13 commented on #384
Windows server core and nanoserver, all channels.

[2020-03-02 13:33] #355 closed

[2020-03-08 20:39] Romfos opened #387 "Impossible to install any powershell module in nanoserver powershell:7.0.0-rc.3-nanoserver"
Hi, I'm unable to install **any** module in powershell for nanoserver:

For example sql server module:

## Steps to reproduce
1) docker pull mcr.microsoft.com/powershell:7.0.0-rc.3-nanoserver-1909
2) docker run -it mcr.microsoft.com/powershell:7.0.0-rc.3-nanoserver-1909
3) type: Install-Module sqlserver -Force

## Expected behavior
sqlserver module should be installed

## Actual behavior
Error:  T

[2020-03-08 23:27] TravisEz13 commented on #387
I suspect this is a PowerShellGet issue with nanoserver.  cc @alerickson

[2020-03-09 21:24] ThomasPiskol opened #457 "lts-windowsservercore-1809 uses wrong base image"
According to this issue https://github.com/moby/moby/issues/40525 there's an issue with the base image for Windows Server 2019.
This thread also contains a link to the [official support page](https://support.microsoft.com/en-us/help/4542617/you-might-encounter-issues-when-using-windows-server-containers-with-t), which mentions that for Windows Server 2019 and Windows Server 1809 the fixed version

[2020-03-10 19:10] TravisEz13 opened #389 "Make release use a generated matrix"

[2020-03-12 20:39] #378 closed

[2020-03-12 21:19] #384 closed

[2020-03-12 21:32] #383 closed

[2020-03-12 21:33] #359 closed

[2020-03-12 21:33] #362 closed

[2020-03-12 21:34] TravisEz13 commented on #241
doesn't look like they will add a 1903 agent

[2020-03-12 21:34] #241 closed

[2020-03-15 17:29] JustinGrote opened #391 "Ubuntu 18.04 still on 7-rc.3"
# Repro

[code]

# Expected
to run 7.0.0

# Actual

[code]

# Orignial

![image](https://user-images.githubusercontent.com/15258962/76706860-d8238700-66a7-11ea-9836-1ef50c5c3281.png)
EDIT: Same with the 1809 nanoserver images

[2020-03-15 22:29] TravisEz13 commented on #391
Please include a repro.  Are you using our containers?

[2020-03-15 23:04] TravisEz13 commented on #391
I already have a redeployment started.  I'll hopefully be able to get it done soon.

[2020-03-16 04:56] TravisEz13 commented on #391
Believe this is resolved.

[2020-03-16 04:59] TravisEz13 opened #393 "log hash of images pushed to production MCR"

[2020-03-16 05:00] TravisEz13 commented on #391
Looking back... Our logs show we published an image containing 7.0.0 into the ACR which MCR replicates.  Because I had already started another deployment, I cannot precisely say where the problem happened.   I've opened this issue to help diagnose this in the future: https://github.com/PowerShell/PowerShell-Docker/issues/393

[2020-03-16 05:00] #391 closed

[2020-03-23 20:30] TravisEz13 commented on #394
Shell is already set as @tehshwann explains it has limited scope.

[2020-03-23 20:31] TravisEz13 commented on #394
Please file docker image question in PowerShell/PowerShell-Docker for faster triage.

[2020-03-23 20:44] TravisEz13 commented on #387
Please work with the SqlServer team to resolve the signing issue.  Also Please see the know issues section of the readme at the root of the repo.

[2020-03-23 21:55] MichaelSimons opened #395 "Remove Windows 1803 from the Full Tag Listing section on Docker Hub"
## Steps to reproduce
1.  Navigate to the [PowerShell Docker Hub repo](https://hub.docker.com/_/microsoft-powershell)
2.  View the _Full Tag Listing_ section

## Expected behavior

The tags listed in this section should be supported tags.

## Actual behavior

The Windows 1803 tags are included in the list.  1803 is EOL and should not be listed.  The Dockerfile links for the 1803 entries are broken

[2020-03-23 21:55] MichaelSimons commented on #395
cc @RDIL, @TravisEz13

[2020-03-23 22:12] TravisEz13 commented on #395
This should be automatic next time we publish images.

[2020-03-23 22:12] TravisEz13 commented on #395
RDIL has already done this work.

[2020-03-23 22:42] TravisEz13 commented on #395
https://github.com/PowerShell/PowerShell-Docker/pull/385

[2020-03-24 07:00] #381 closed

[2020-03-24 23:38] felixxuoptovistech opened #397 "cannot access host by host.docker.internal in windows docker container ?"
repo:

   Ping request could not find host host.docker.internal. Please check the name and try again.

![image](https://user-images.githubusercontent.com/57877103/77486813-92c83c00-6e95-11ea-87aa-f78c8cdbfc43.png)

[2020-03-25 01:00] #395 closed

[2020-03-25 18:40] TravisEz13 commented on #397
This repro is repro'ed in the underlying windows container.  Please contact windows support.

[2020-03-25 18:43] TravisEz13 commented on #394
When I get time, I am considering changing the entry point and command to have a similar effect.

[2020-03-25 22:10] TravisEz13 commented on #397
Verified in docker run -it mcr.microsoft.com/windowsservercore

[2020-03-27 01:00] #397 closed

[2020-03-27 18:37] TravisEz13 opened #398 "Changing the EntryPoint"
## Background

The best practice in docker is for an image to run the product in contains.
https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#entrypoint

Currently our images only run PowerShell when no command is specified.  This is specified in the [`CMD`](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#cmd) entry in the Dockerfile.

Unfortunately

[2020-03-27 18:50] RDIL commented on #398
I feel like this would be ideal for the refactor we were discussing a month or so ago, and I feel like in between these releases is the perfect time to get that in motion.

[2020-03-31 23:11] MichaelSimons commented on #394
You are correct.  That is the purpose of the `SHELL` instruction.  The `CMD` and `ENTRYPOINT` instruction do not affect the shell used in the `RUN` instructions.  Setting the `SHELL` would make the PS images more useful as a base image where you want to utilize PS within your Dockerfile

I don't see it set in the PS images.  You can test it out yourself by building the following Dockerfile.  It wi

[2020-04-01 23:37] TravisEz13 commented on #398
I found this, which would break, but it is our code:
https://github.com/O330oei/vlea/blob/b7295deaf506d55c590491132dc6cb16e3d99355/test/nanoserver/nanoserver.tests.ps1

[2020-04-01 23:52] TravisEz13 commented on #398
add support for
`/bin/bash`
`/bin/sh`

[2020-04-02 00:18] TravisEz13 commented on #398
1/3 of the docker files define entry point and definitely won't be affected.

Most executions of the image where either `pwsh -c` or interactive.

[2020-04-02 22:27] MichaelSimons commented on #398
When I first saw this issue I thought it was pretty cut and dried but the more I think about it, that definitely does not seem to be the case 😸.

FWIW, I have a couple questions/comments

1. If I understand the proposal correctly, both a CMD and an ENTRYPOINT would be defined.  If you `docker run` the resulting image you would be launching pwsh twice in a nested format as docker run will pass the

[2020-04-08 19:31] TravisEz13 opened #404 "Create image for ubuntu 20.04"

[2020-04-08 22:00] joeyaiello commented on #398
So I spoke to @TravisEz13 offline and spent a bunch more time with Docker entrypoint scripts in some home projects, and think I can accurately describe the behavior now.

1. `docker run -it mcr.microsoft.com/powershell:foo pwsh`
For this one, the entrypoint script is checking to see if it's getting `pwsh` or `pwsh-preview` so that it *doesn't* run `pwsh` inside of `pwsh`.

1. `docker run -it mcr.m

[2020-04-08 22:14] joeyaiello commented on #398
@PowerShell/powershell-committee reviewed the behavior I outlined above, there's a couple other cases without quotes around the last arg of the run, but none of them are problematic either. We're marking as approved.

[2020-04-09 15:25] TJM opened #405 "Add Docker Image Size to tags table"
Please add the docker image sizes to the image tags table. For some reason the "normal" tags interface on Docker hub was disabled, which lists the compressed size. That is a helpful attribute when choosing which docker image to use. For example, see the tags page for openjdk: https://hub.docker.com/_/openjdk?tab=tags

Thanks in advance,
Tommy

[2020-04-09 15:34] MichaelSimons commented on #398
@joeyaiello - Which of these scenarios require entry entrypoint script versus simply defining the ENTRYPOINT to be pwsh?  In the long term, it feels like avoiding the entrypoint script would be the preferred solution.  The entrypoint script makes it difficult for users to self discover what the entrypoint behavior is.  You can't rely on `docker inspect` or looking at the Dockerfile.  You have to i

[2020-04-09 15:35] richlander commented on #398
Interesting topic. Few thoughts for you to consider:

- You may feel compelled over time to expand the scenarios in the script and it could become a long-term compat burden. Obviously, the script growing would be a bad thing. It isn't your product, but a convenience crutch.
- Related, we have never felt (on my team) that we need to make Docker easier to use than it is. Certainly, we've tried to ma

[2020-04-09 16:51] TravisEz13 commented on #398
@MichaelSimons

** I'll test all of these and verify **

## Tested and works:

1. `docker run -it mcr.microsoft.com/powershell:foo pwsh`
1. `docker run -it mcr.microsoft.com/powershell:foo 'Do-Stuff -Bar'`
1. `docker run -it mcr.microsoft.com/powershell:foo '/bar.ps1'`
1. `docker run -it mcr.microsoft.com/powershell:foo '/usr/bin/pwsh'`

## Confident it works:

1. `docker run -it mcr.microsoft.com

[2020-04-09 19:18] RDIL opened #406 "Add dockerlint"
Add https://github.com/RDIL/dockerlint

Right now it only supports linux containers, and only has two checks, but I think that it can be a great help once I program more in.

[2020-04-09 22:42] TravisEz13 commented on #405
Please send this feedback to docker or Microsoft Container Registry.  We are waiting for this feature from those teams.

[2020-04-09 22:44] TravisEz13 commented on #405
They are asking for feedback here:
https://cloudblogs.microsoft.com/opensource/2019/01/17/improved-discovery-experience-microsoft-containers-docker-hub/

[2020-04-09 22:45] TravisEz13 commented on #405
Or you can file an issue here: https://github.com/microsoft/containerregistry/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc

[2020-04-09 22:45] TravisEz13 commented on #405
The issue already exists here:  https://github.com/microsoft/containerregistry/issues/3

[2020-04-10 17:21] richlander commented on #398
I was thinking more about this. This issue has the wrong title. It very much underplays what is being asked for. This is the feature description, and scope, I think:

- Add entrypoint routing, which supports routing string-based commands to different executables, with special logic for pwsh. This avoids needing to (A) use the --entrypoint syntax to specify an executable, and (B) split the entrypoi

[2020-04-11 16:00] #405 closed

[2020-04-11 19:50] TravisEz13 commented on #398
@richlander I updated the title and added a goals section to the description based on your comments

[2020-04-11 20:52] TravisEz13 commented on #394
I agree with the change, but it would be a breaking change for customers that assume that the shell is bash or cmd .

[2020-04-17 19:09] joeyaiello commented on #394
Had an offline conversation with @TravisEz13. Totally agree that this would be the right thing to do if we were starting fresh, but it's a pretty significant change for both Windows and Linux users.

@MichaelSimons do you or anyone on the .NET team have any experience with making such significant changes to a shipping production container image? Is there some kind of transition path that we can bu

[2020-04-20 21:08] NikolayPianikov opened #410 "Invalid environment variable `LOCALAPPDATA`"
The environment variable _LOCALAPPDATA_ was specified like:

https://github.com/PowerShell/PowerShell-Docker/blob/95a36b1d20be7d3b87c85ed89c60a3a54421e381/release/stable/windowsservercore/docker/Dockerfile#L39

for the user _ContainerAdministrator_.
But it should be specified for the user _ContainerUser_. Some applications may crash when accessing this directory with "Access Denied".

[2020-04-20 21:18] NikolayPianikov commented on #410
The list of variables:
[code]

It looks quite strange when `USERNAME=ContainerUser` and 'USERPROFILE=C:\Users\ContainerUser' but `LOCALAPPDATA=C:\Users\ContainerAdministrator\AppData\Local`

[2020-04-20 23:52] TravisEz13 commented on #410
Looking strange is not a bug.

The underlying bug is windows doesn't set this.  We are setting it for ContainerAdmin and it's set appropriately.  If you file an issue with windows and they fix the issue, then we can fix this.  For now, This is by design, we have one module cache location of all users.

[2020-04-20 23:58] TravisEz13 commented on #410
Changing it to what you suggest would just cause the same problem for containers running as containeradmin.

Please provide full repro information as required in the the issue template.

[2020-04-21 10:59] NikolayPianikov commented on #410
## Steps to reproduce

Here is an [example](https://github.com/PowerShell/PowerShell-Docker/files/4509450/issue-410.zip).

## Expected behavior

An application should have an access to its default local application directory.

## Actual behavior

The default local application directory is pointed into non accessible directory and some applications will failed.

## Environment data

Docker info:

[

[2020-04-21 12:23] NikolayPianikov commented on #410
To make the solution acceptable for all users you just could provide an ability to share all required data across all users via common public directory. For instance `C:\Users\Public\...` (and there is an environment variable `PUBLIC=C:\Users\Public` since Windows 7 as I remember) and your image has this directory and this environment variable.

[2020-04-21 18:11] TravisEz13 commented on #410
Agreed, we should move the module analysis cache to public.

One issue is the use for ContainerUser for nanoserver is deprecated and not supported.  But the same issues should exist on windowsserver core and fixing both is no extra work on our part.

[2020-04-22 18:25] joeyaiello commented on #398
@MichaelSimons The entrypoint behavior we've defined in the script is basically: `pwsh -c` except if you're calling `pwsh` or `pwsh-preview` in your `-c`, in which case, don't run PowerShell inside of PowerShell. The goal here is that folks already using the existing exec/bash behavior (no idea which Docker defaults to under the hood, but it's somewhat irrelevant to my point) to `docker run mcr.mi

[2020-04-23 17:46] TravisEz13 opened #413 "Propsal to remove the script to get tags"
1. Move all images to floating tags
2. Use dependabot to update floating tags where needed
3. generate our own release specific full tag.

## Status

- [x] Implement system to allow for our own specific full tag
- [ ] Update images
  - [x] Ubuntu 20.04
    - [x] Preview
  - [ ] All others

[2020-04-29 22:12] SteveL-MSFT commented on #394
@PowerShell/powershell-committee reviewed this.  This is too big of a breaking change to accept at this time.  The workaround to set the shell default seems acceptable or calling pwsh explicitly.

[2020-04-30 13:45] rfrerebe opened #417 "Unable to install module on nanoserver"
## Steps to reproduce

Using windows container
[code]
[code]

## Expected behavior

I expect this command to work (it works on ubuntu, alpine, windowsservercore).
I expect modules to be loaded.

## Actual behavior

With Pester
[code]
With NetworkingDsc
[code]

## Environment data

docker info
[code]

[code]

##Workaround

I can get the module installed with additionnal command

[code]

[2020-04-30 14:16] RDIL commented on #417
Hey!  I believe you need to pass the `-Scope CurrentUser` parameter aswell.  Can you please try that out?  Thanks 😃

[2020-04-30 15:21] rfrerebe commented on #417
Hello,

Thanks for your quick response 😄

It tried, but I did not saw any change.
[code]

[2020-04-30 15:36] RDIL commented on #417
Hmm.  Not sure what is going on here.

[2020-04-30 16:32] TravisEz13 commented on #417
for pester, or any signed package, you must specify, `-skippublishercheck` the signing verification code in PowerShellGet uses an API that is not available on nanoserver.

[2020-04-30 16:34] TravisEz13 opened #418 "Document package management signing issues on nanoserver"
https://github.com/PowerShell/PowerShell-Docker/issues/417#issuecomment-621964048

[2020-04-30 16:44] #394 closed

[2020-04-30 17:39] rfrerebe commented on #417
Thanks

[2020-04-30 17:39] #417 closed

[2020-05-01 18:12] TravisEz13 commented on #413
@RDIL
What do you think about this?

[2020-05-01 18:13] RDIL commented on #413
Works for me.

[2020-05-06 20:09] TravisEz13 commented on #413
The full version should be something like
[code]

[2020-05-12 20:58] #406 closed

[2020-05-14 04:50] MichelDiz opened #423 "How to run as Administrator?"
## Steps to reproduce

The intention is to use this docker image to test an install script in a pipeline on every change.

[code]

## Expected behavior

This step in the script needs to run as Admin, but it fails. There is a workaround for this?

## Actual behavior

Error running the script
[code]

Trying with `--user ContainerAdministrator`

[code]

## Environment data

[code]

[code]

[2020-05-14 19:32] TravisEz13 commented on #423
Use an image that supports users, such as windowsservercore.

[2020-05-14 19:34] TravisEz13 commented on #423
`ContainerAdministrator` is not a supported user for `nanoserver` per the windows team.  If you cannot accomplish, what you need as the default user, there is a bug in nanoserver.

[2020-05-14 21:14] MichelDiz commented on #423
I was able to do it with
[code]

But it would be very handy to have this as an option. There are scripts that need to be tested as Admin. And it is not possible to use `-Verb runAs`. Because we don't have access to UAC's UI.

[code]

[2020-05-15 22:00] #423 closed

[2020-05-17 18:56] MichelDiz commented on #423
Also, windowsservercore won't work. And it is HUGE... that's not good for day to day use and storage space.
[code]

[2020-05-17 20:15] TravisEz13 commented on #423
@MiaRomero I'm sorry, but I cannot help you.  This is a problem with the underlying Windows container.  Please Open a Windows support or feature request.

[2020-05-17 20:33] TravisEz13 commented on #417
I added a known issues wiki and i'll update the readme to link to this soon:
https://github.com/PowerShell/PowerShell-Docker/wiki/Known-Issues

[2020-05-17 20:34] TravisEz13 commented on #423
I added a known issues wiki and i'll update the readme to link to this soon:
https://github.com/PowerShell/PowerShell-Docker/wiki/Known-Issues

[2020-05-17 20:46] TravisEz13 commented on #418
documented in known issue wiki in this change

[2020-05-17 20:47] TravisEz13 commented on #404
fixed in #422

[2020-05-17 20:48] #404 closed

[2020-05-17 21:01] TravisEz13 commented on #413
@RDIL Up for grabs are supposed to be small tasks...

[2020-05-17 21:04] TravisEz13 commented on #369
@ThomasNieto We only have RDIL maintaining community images.  I opened a PR to add the project to up for grabs.
https://github.com/up-for-grabs/up-for-grabs.net/pull/2067
Hopefully, we can get some help.

[2020-05-17 21:06] TravisEz13 commented on #124
I'm going to consider this done.

[2020-05-17 21:06] #124 closed

[2020-05-17 21:10] TravisEz13 commented on #188
I don't believe windows will fix this.  Closing the issue.

[2020-05-17 21:10] #188 closed

[2020-05-17 21:23] TravisEz13 commented on #289
@kiazhi  tell us if you start to work on this and I'll reassign the issue.  Assigned is supposed to mean actively working on the issue.

[2020-05-20 10:59] kiazhi commented on #289
@TravisEz13  this is fixed and up to date now.

[2020-05-20 19:12] #289 closed

[2020-05-20 19:13] #418 closed

[2020-05-21 03:01] MichaelSimons commented on #321
One of the reasons I dislike labels in general is that they are image metadata and get inherited when you use an image as your base.  Finding images in the wild that have the _PowerShell Team_ as the owner when a third party created the image and didn't 'override' the labels isn't a great UX.

[2020-05-21 03:08] MichaelSimons opened #427 "Reword the description label to be in terms of an image rather than a Dockerfile"
## Steps to reproduce

1. `docker pull mcr.microsoft.com/powershell`
1. `docker inspect mcr.microsoft.com/powershell --format "{{ .Config.Labels }}"`

## Actual behavior

There is a `description` label with the following value

## Expected behavior

Given this label is applied to an image, I wouldn't expect to see `Dockerfile` terminology.

[2020-05-21 14:27] RDIL commented on #427
Can be done with #321

[2020-05-21 17:07] #254 closed

[2020-05-22 20:42] #192 closed

[2020-05-27 20:17] TravisEz13 commented on #321
Initially MCR said this was a requirement.  Now they say they have no guidance.

It simplifies the images to remove them.

[2020-05-27 21:03] TravisEz13 commented on #413
Now that the Engineering system work is done, I think most people can handle the work on images.

[2020-05-28 17:42] TravisEz13 opened #432 "Move to pester 5"

[2020-06-01 13:38] RDIL opened #434 "Centos8 takes a long time to build"
Needs further investigation.

[2020-06-10 01:23] #321 closed

[2020-06-10 21:16] pedropombeiro opened #443 "Distribution Support Request: Alpine 3.10 arm64"

[2020-06-10 21:47] pedropombeiro opened #444 "Distribution Support Request: Alpine 3.11 arm32"

[2020-06-16 21:32] TravisEz13 opened #449 "New image for fedora 31"
New image for fedora 31

[2020-06-24 20:49] dependabot-preview[bot] opened #452 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/release/preview/alpine38/dependabot/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[View the updat

[2020-07-09 17:52] coreone commented on #374
Is there any movement on this, potentially for *all* Linux-based images?  SSH appears to be the only protocol we can use to connect from Linux -> Windows with PowerShell.

[2020-07-09 23:16] TravisEz13 commented on #374
@coreone These images are intended to be base images.  Maintaining adding and maintaining SSH across all the images is a large amount of work. It's currently in the `community work` project, meaning it is not scheduled work.

cc @SteveL-MSFT

[2020-07-10 15:31] TravisEz13 commented on #457
I'm trying to verify.  I had some setup to do since move to wfh and that took some time.  Hopefully, I can look at this today.

[2020-07-10 15:41] TravisEz13 commented on #457
[code]
[code]

[2020-07-10 15:44] TravisEz13 commented on #457
This does not repro.

[2020-07-10 15:50] TravisEz13 commented on #457
I tried to see if we were in the middle of a deployment when you checked this.  A deployment of images or our side takes about 30 minutes and there is further delay for MCR (hopefully small.)

Please file any further issues about docker image inconsistencies here and mention me.  I can investigate faster and less data will be lost.

[2020-07-10 15:50] #457 closed

[2020-07-11 00:55] KnicKnic opened #458 "powershell no matching manifest windows 2019"
cannot pull powershell on windows 2019

[code]

## Actual behavior

[code]

## Environment data

windows 2019
[code]

## see repro

 https://github.com/KnicKnic/powershell-webserver/runs/853015666?check_suite_focus=true

[2020-07-11 01:01] TravisEz13 commented on #458
latest is a manifest not an image.  I verified that this manifest has the correct image attached and windows docker is supposed to select the correct image.
I'll remove the image that you are getting from the manifest on the next publish, but if you want something to work, use an explicit tag.

[2020-07-11 01:07] TravisEz13 commented on #458
This is a completely different issue.

[2020-07-11 01:09] TravisEz13 commented on #458
I cannot repro this either.  Please run winver and attach the results.

[2020-07-11 04:25] KnicKnic commented on #458
@TravisEz13
I have added the following info from run https://github.com/KnicKnic/powershell-webserver/pull/2/checks?check_run_id=860275015

[code]

[2020-07-15 23:18] alowenstein opened #460 "Term is not recognized as the name of a cmdlet, function, script file, or operable program"
Hi,

I'm trying to create an image based off of mcr.microsoft.com/powershell:lts-alpine-3.9. host is Ubuntu 20.04 LTS.
I download and install a Powershell toolkit (atomic-red-team) and prints during image creation indicate that install is successful but when I try to run the Invoke command, I'm getting an
`The term 'Invoke-AtomicTest' is not recognized as the name of a cmdlet, function, script fil

[2020-07-16 22:55] alowenstein commented on #460
Turns out that I was missing an Import-Module step but even after adding it, Invoke-AtomicTest cannot be found.
Thanks.

[2020-07-16 23:11] #460 closed

[2020-07-16 23:41] alowenstein commented on #460
ok.. managed to run this, basically running import and Invoke-Atomictest at the same command.
`sudo docker run -it art-poc-ps pwsh -Command Import-Module "./root/AtomicRedTeam/invoke-atomicredteam/Invoke-AtomicRedTeam.psd1 -Force ; Invoke-AtomicTest ....". `

Would be great if there's a way to import during image creating and Invoke on run.
Thanks

[2020-07-22 12:22] TBBle commented on #427
This is probably fixed by #440, which removed the labels entirely.

[2020-07-22 13:09] #427 closed

[2020-07-23 13:53] manivannanpk opened #464 "Executing script through command-line"
This is just a question.

Using PowerShell on Windows or Linux (pwsh), we can execute a script on a Windows target like this:
powershell -File script.ps1 -ip 192.168.1.100 -user administrator -password mypassword
pwsh -File script.ps1 -ip 192.168.1.100 -user administrator -password mypassword

Can this be done using the PowerShell Docker container?

My requirement is to execute this system command

[2020-07-26 18:12] TravisEz13 commented on #464
What you want is
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/invoke-command?view=powershell-7#example-19--run-a-command-on-a-remote-computer-using-ssh

The container will need the SSH client and the server will need SSH remoting setup.

https://docs.microsoft.com/en-us/powershell/scripting/learn/remoting/ssh-remoting-in-powershell-core?view=powershell-7#set-up-on-a

[2020-07-26 18:13] #458 closed

[2020-07-26 18:19] #452 closed

[2020-07-27 15:24] kiazhi opened #473 "Ubuntu on Arm32v7 platform failed to run PowerShell"
Any docker image tag consisting of any Ubuntu version running on Arm32v7 platform are failing to run PowerShell.

## Steps to reproduce

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]
## Expected behavior

[code]

Expected the behaviour for any Linux distro(s) on Arm32v7 to behave the same as any platform architecture.

<img width="960" alt="image" src="https://user

[2020-07-27 19:00] #464 closed

[2020-07-28 11:25] manivannanpk commented on #464
Thanks for the reply.

Is it not possible to do this without SSH?

<quote>
...the remote computer must be configured with a PowerShell SSH endpoint.
</quote>

Having to do this on all the remote machines would be a problem.

[2020-07-28 21:46] kiazhi opened #472 "Ubuntu on Arm32v7 platform failed to run PowerShell"
Any docker image tag consisting of any Ubuntu version running on Arm32v7 platform are failing to run PowerShell.

## Steps to reproduce

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]
## Expected behavior

[code]

Expected the behaviour for any Linux distro(s) on Arm32v7 to behave the same as any platform architecture.

<img width="960" alt="image" src="https://user

[2020-07-29 04:23] kiazhi commented on #374
This work is mostly completed except for linux images on Arm32v7 architecture.

[2020-07-29 16:56] TravisEz13 commented on #472
This belongs in PowerShell/PowerShell.

[2020-07-29 17:09] TravisEz13 commented on #473
Running in QEMU is not supported.  This in a .NET Core requirement.

[2020-07-29 17:15] TravisEz13 commented on #473
Added to our known issues page:  https://github.com/PowerShell/PowerShell-Docker/wiki/Known-Issues#arm-and-qemu-not-supported

[2020-07-29 19:19] TravisEz13 opened #474 "Add ssh client to arm32 image"
## Summary
For Ubuntu-based images, this just needs an `apt-get install openssh-client`.

## Steps to reproduce

[code]

## Expected behavior

Should allow PS remoting over SSH

## Actual behavior

Error:
[code]
Digging into the `InnerException` reveals that it is because of missing `ssh`:

[code]

For Ubuntu-based images, this just needs an `apt-get install openssh-client`.

## Environment data

[2020-07-29 19:20] TravisEz13 commented on #374
Opened https://github.com/PowerShell/PowerShell-Docker/issues/474 to track the remaining work and closing this.

[2020-07-29 19:20] #374 closed

[2020-07-29 23:27] adityapatwardhan commented on #473
I verified that it works fine on a raspberry pi

[code]

[2020-07-30 15:30] donny-dont opened #475 "Add Windows 2004 support"
The 2004 Windows variant is notably missing.

[2020-07-30 18:44] TravisEz13 commented on #475
Duplicate of https://github.com/PowerShell/PowerShell-Docker/pull/461

[2020-07-30 18:46] #473 closed

[2020-07-31 20:00] #475 closed

[2020-09-06 12:54] maethorechannen opened #487 "Add Linux Mint 20 image"
Add Linux Mint 20 image

[2020-09-09 17:11] TravisEz13 opened #490 "Windows images need to be converted to use generated full tag"

[2020-09-09 17:44] TravisEz13 opened #491 "convert debian10 to use generated full tags"

[2020-09-10 21:43] identifi-awilliamson commented on #417
This gets the module installed - but the current nanoserver image does not have the ContainerUser module path as part of the PSModulePath ENV variable. So you end up not being able to use the module unless you also alter the PSModulePath

[2020-09-11 17:51] TravisEz13 commented on #417
@identifi-awilliamson, Please file an issue for this, so we can put this on our backlog.

[2020-09-11 19:02] identifi-awilliamson opened #492 "nanoserver powershell image unable to use install-modules by default"
## Steps to reproduce
1. Pull the latest mcr.microsoft.com/powershell:lts-nanoserver-1809 image
2. Run a container in interactive mode using the image
3. Check the PSModulePath environment variable
4. Attempt to install a PSGallery module using Install-Module with -Verbose (module used in this case is powershell-yaml)
5. Notice the verbose output shows the install path a C:\Users\ContainerUser\Doc

[2020-09-11 19:03] identifi-awilliamson commented on #417
Done! - https://github.com/PowerShell/PowerShell-Docker/issues/492
Thanks!

[2020-09-11 21:09] TravisEz13 commented on #417
Thanks for filing an issue.  I can't make promises on when it will be done but I put in on the list for the MSFT team to do, but anyone is free to submit a PR in the meantime.

Although, some refactoring of the Windows images is in progress.

[2020-09-11 21:09] TravisEz13 commented on #417
Thanks for filing an issue.  I can't make promises on when it will be done but I put in on the list for the MSFT team to do, but anyone is free to submit a PR in the meantime.

Although some refactoring of the Windows images is in progress.

[2020-10-06 22:32] #434 closed

[2020-10-13 11:40] podedra92 opened #496 "Add alpine v3.12 Image"
Been waiting a while for 3.11 and now 3.12 is available, 3.10 has security vulnerabilities and  support ends in 6months

[2020-10-13 18:58] RDIL commented on #496
#497 removed older versions, and 3.10 will be removed once it is EOL.  I can try to add the new ones later.

[2020-10-15 18:38] TravisEz13 opened #500 "alpine 3.10 os version doesn't have version number"
![image](https://user-images.githubusercontent.com/10873629/96172197-e904d700-0eda-11eb-97f2-f92e12f8cf0e.png)

[2020-10-15 18:39] TravisEz13 opened #501 "Fedora 30 LTS and stable doesn't show OS version number"
![image](https://user-images.githubusercontent.com/10873629/96172311-15b8ee80-0edb-11eb-82e7-136b3d587e36.png)

[2020-10-15 18:41] RDIL commented on #501
Does it work with #494?

[2020-10-15 22:11] #500 closed

[2020-10-15 22:11] #501 closed

[2020-10-19 19:03] #449 closed

[2020-10-20 13:35] mikeTWC1984 commented on #124
If anyone needs ntlm on alpine - I put some instructions on how to build/install it from source.
https://github.com/mikeTWC1984/gssntlm
The only thing - it's working on alpine 3.11 or higher

[2020-10-27 20:34] TravisEz13 opened #514 "Update to PowerShell FullTag"
~~debian is in progress here:  https://github.com/PowerShell/PowerShell-Docker/pull/512~~

The following still need to be migrated.

[code]

[2020-10-27 21:11] #491 closed

[2020-10-30 11:55] mgazzin opened #516 "Get-PSRepository error"
## Check list

- [X] Verified that this is not a [Known Issue](https://github.com/PowerShell/PowerShell-Docker/wiki/Known-Issues)
- [X] Verified this is not an issues in the underlying windows container that should be reported to [Windows Container User Voice](https://windowsserver.uservoice.com/forums/304624-containers)

## Steps to reproduce

[code]

## Expected behavior

[code]

## Actual behav

[2020-10-30 19:08] TravisEz13 commented on #516
Please update your description with this required information from the issues template:

[code]

[2020-10-30 19:08] TravisEz13 commented on #516
Marking this as a question until the information is provided

[2020-10-30 23:21] mgazzin commented on #516
Thanks @TravisEz13 , I have just updated.

[2020-10-31 18:22] RDIL commented on #516
Hi,
Can you try again now?   I know PSGallery had some issue yesterday. That could be it.

[2020-11-02 10:59] mgazzin commented on #516
Hi @RDIL , you are right. It is now working.
Please close this issue.
Thanks.

[2020-11-02 13:59] #516 closed

[2020-11-02 13:59] RDIL commented on #516
Glad to hear it works now!

[2020-11-05 09:32] ta32 commented on #236
@TravisEz13 is there a way to set the path without powershell, because powershell was removed from the nanoserver base image?
I tried in 1903 and it didnt work...

[2020-11-09 22:18] TravisEz13 opened #517 "remove 3.10 only for preview (7.1)"
https://github.com/PowerShell/PowerShell-Docker/tree/master/release/preview/alpine310

[2020-11-11 13:22] RDIL commented on #517
What's the reason @TravisEz13?

[2020-11-11 23:15] #410 closed

[2020-11-16 05:10] ghost opened #520 "Please provide docker hub tags for ARM64"
There are no official powershell docker tags for arm64, whereas the underlying dependency dotnet has multiple architectures in the manifests. For example:

[code]

Please offer docker tags for arm64 containers of Powershell. Ideally, apply an fxdependent layer atop the dotnet images to save space client-side.

This will become increasingly important as Apple M1-based devices begin shipping in the

[2020-11-16 14:25] RDIL commented on #520
If I remember correctly, this wasn't done due to a limitation with the CI I believe.  cc @TravisEz13

[2020-11-16 22:30] TravisEz13 commented on #520
The question is does qemu support ARM64?  We won't be able to test the image, but we have an ARM32 image that has to run in QEMU

[2020-11-16 22:32] TravisEz13 commented on #517
DotNet doesn't support 3.10... this now applies to stable as well

[2020-11-16 22:33] TravisEz13 commented on #236
@ta32 This is off topic.  You need to create a windows support ticked for that question.

[2020-11-17 01:37] kairzha commented on #520
I'm not versed in QEMU, but a quick search says it does support arm64. The dotnet team already solved for this; there's probably an opportunity to piggyback atop how they did it rather than reinvent it.

Otherwise, source one of these native arm64 machines:
Surface Pro X (Windows arm64)
M1 MacBook Air (macOS arm64)
Raspberry pi 4 (Ubuntu arm64, what I tested with above)

[2020-11-17 14:46] RDIL commented on #517
Alright I'll do this

[2020-11-17 20:41] RDIL commented on #517
Fixed by #521

[2020-11-17 20:41] #517 closed

[2020-11-17 20:45] TravisEz13 commented on #520
The solution for windows is to use the .NET SDK images, which include PowerShell.

is this for Windows or Linux?

[2020-11-17 20:46] TravisEz13 commented on #520
We don't have the dedicated hardware that the .NET teams has.  Resolving this as answered as it appears to be a solved problem.

[2020-11-18 04:49] kairzha commented on #520
Linux docker images

[2020-11-18 22:49] TravisEz13 commented on #520
Windows arm cannot be emulated currently.  We don't have a solution to build the images.  .NET has the hardware required to build the images.  Hopefully at some point, Azure will provide a windows ARM service and we will be able to build the windows images.

In the meantime, we can try to provide the Linux arm64 images.

[2020-11-25 17:51] RDIL commented on #496
3.11 and 3.12 are now the only supported Alpine images by PS docker.

[2020-11-25 17:51] #496 closed

[2020-11-25 17:53] RDIL commented on #300
Closing due to lack of discussion.  Anybody else who wants, feel free to comment and I'll reopen it.

[2020-11-25 17:53] #300 closed

[2020-11-25 17:54] RDIL commented on #443
3.10 support has been dropped.

[2020-11-25 17:54] #443 closed

[2020-11-25 17:55] RDIL commented on #444
Closing because [this isn't currently possible](https://github.com/PowerShell/PowerShell/issues/12938#issuecomment-645012704).

[2020-11-25 17:55] #444 closed

[2021-01-06 10:00] kkbruce opened #524 "Build and provide Server version 20H2 Image"
## Check list

- [x] Verified that this is not a [Known Issue](https://github.com/PowerShell/PowerShell-Docker/wiki/Known-Issues)
- [x] Verified this is not an issues in the underlying windows container that should be reported to [Windows Container User Voice](https://windowsserver.uservoice.com/forums/304624-containers)

## Steps to reproduce

[code]

## Expected behavior

Download Server version

[2021-01-06 14:02] RDIL commented on #524
#523 was already opened for this.

[2021-01-06 23:48] aslatter opened #525 "Docker 'preview' tag points to 7.1.0-preview.6 instead of something newer"
## Check list

- [X] Verified that this is not a [Known Issue](https://github.com/PowerShell/PowerShell-Docker/wiki/Known-Issues)
- [X] Verified this is not an issues in the underlying windows container that should be reported to [Windows Container User Voice](https://windowsserver.uservoice.com/forums/304624-containers)

## Steps to reproduce

[code]

## Expected behavior

[code]

## Actual behav

[2021-01-07 19:34] TravisEz13 opened #526 "add centos 7.3 image"
https://github.com/PowerShell/PowerShell/issues/14562

[2021-01-11 22:47] JustinGrote opened #527 "'latest' should point to 7.1.0"
The 'latest' tag still points to `7.0.3`. It should point to `7.1.0`

In addition there is no `lts` tag, that should point at what `latest` is now.

# work items
- [x] update createAllManifests.ps1 file to use meta.json files to build the manifest lists
- [x] update the release to release the manifest lists mentioned in the meta.json files
- [ ] add the lts tag
    - [ ] Update the build to also b

[2021-01-12 23:26] anamnavi commented on #527
https://github.com/PowerShell/PowerShell-Docker/blob/master/.vsts-ci/templatesReleasePipeline/releaseJob.yml#L83

https://github.com/PowerShell/PowerShell-Docker/blob/master/createAllManifests.ps1

(need to push the createAllManifests.ps1 file, using the command in the releaseJob.yml file). Create lts tag in the creatAllManifest file

[2021-01-21 19:25] cmpsoares91 opened #530 "Unable to built simple container"
Hello,

I'm not sure if this is the right medium but please let me know if not.

I'm trying to build a windows based container with a command-line tool:
[code]

But I keep getting the following error: indicating it can't find a specific file. I've already performed a full cleanup of my docker environment and with both core and the nanoserver I get the following error:
[code]

Thank you for your he

[2021-01-21 19:27] RDIL commented on #530
Hi,
This is not the correct place.  This is only for PowerShell's Docker images.

[2021-01-21 19:27] RDIL commented on #530
Wait, actually that might be related to this, my bad.

[2021-01-21 22:18] TravisEz13 commented on #530
@RDIL  Actually, I think you are right.  a `.com` file can't call powershell, so this is related to the base image and this is not the right place.

[2021-01-21 22:32] RDIL commented on #530
Oh alright.

[2021-01-21 22:32] #530 closed

[2021-01-21 23:08] TravisEz13 commented on #525
resolved with #529 and I have ran the deployment once for testing so it is live.

[2021-01-21 23:08] #525 closed

[2021-01-21 23:15] TravisEz13 commented on #527
I've done the work to fix the fact that latest wasn't being released after I rewrote the release process.  I'm leaving the LTS tag to @anamnavi, but almost anyone should be able to do it now.

[2021-01-21 23:19] anamnavi commented on #527
Will start work on the LTS tag tomorrow :)

[2021-01-21 23:28] TravisEz13 commented on #525
Thanks for reporting this issue

[2021-01-22 00:09] TravisEz13 commented on #530
Additionally, it seems this file is calling into the GUI stack.  That's not allowed in a windows docker image.

[2021-01-22 01:43] JustinGrote commented on #527
Thanks guys, the quick response is much appreciated.

[2021-01-23 19:35] TravisEz13 commented on #527
@JustinGrote Sorry, I didn't notice I broke it when I reworked the release system.  Thanks for finding it.

[2021-01-25 01:49] TravisEz13 commented on #527
fixed by #532

[2021-01-25 01:49] TravisEz13 commented on #527
I just released that.

[2021-01-25 01:49] #527 closed

[2021-01-31 19:45] sh0375 opened #534 "no supported WSMan client library was found"
## Check list

- [X] Verified that this is not a [Known Issue](https://github.com/PowerShell/PowerShell-Docker/wiki/Known-Issues)
- [ ] Verified this is not an issues in the underlying windows container that should be reported to [Windows Container User Voice](https://windowsserver.uservoice.com/forums/304624-containers)

## Steps to reproduce

[code]

## Expected behavior

[code]

## Actual behav

[2021-02-01 19:01] TravisEz13 commented on #534
worked with 6.2.3 image that was on my machine (after correcting typo in repro).  pulling and trying latest image

[2021-02-09 09:27] Project0 commented on #534
I can confirm the problem only exists in the ubuntu 20.04 image, while the ubuntu 18.04 still works

`mcr.microsoft.com/powershell:7.1.0-ubuntu-18.04`: New-PSSession works
`mcr.microsoft.com/powershell:7.1.0-ubuntu-20.04`: New-PSSession fails with missing libraries

[2021-02-09 18:19] TravisEz13 commented on #534
This is by-design in ubuntu 20.  The library doesn't support PowerShell on Ubuntu 20.

[2021-02-09 18:19] #534 closed

[2021-02-10 08:25] Project0 commented on #534
Aha, do you have more info than this? It is a very inconsistent user experience to not provide the same functionality, just because the distribution version is different.

[2021-02-10 08:26] Project0 commented on #534
at least i would expect to have a note in the known issues sector and how to fix it.

[2021-02-10 17:57] TravisEz13 commented on #534
This should be documented in the PowerShell documentation.  The known issue documentation here is for docker specific known issues.
There is an open doc issue for there here:  https://github.com/MicrosoftDocs/PowerShell-Docs/issues/6491

[2021-02-12 15:36] sh0375 commented on #534
I solved problem installing PSWSMan powershell module which fixes library version.
This is beginning of my Dockerfile:
---------
FROM mcr.microsoft.com/powershell:latest

RUN apt-get update -y
RUN sh -c "yes | pwsh -Command 'Install-Module -Name PSWSMan'"
RUN pwsh -Command 'Install-WSMan'
---------

[2021-02-24 07:17] danielchipman opened #541 "Commands from installed modules are not recognized when Docker image is run inside of Jenkins"
Using `Install-Module` to add a module to the container succeeds to install (`Get-InstalledModule` confirms this), but none of the commands provided by the module will be available. `$env:PSModulePath` includes a `/tmp/{guid}` directory instead of the usual `/root/.local/share/powershell/Modules` that you'd typically find in a powershell container. Upon investigation, the installed module is not a

[2021-02-24 17:29] TravisEz13 commented on #541
Please include information to repro without Jenkins

[2021-02-24 17:29] #541 closed

[2021-02-25 03:37] danielchipman commented on #541
Why? This is specifically a compatibility issue between the Powershell Docker image and Jenkins. None of the other package management frameworks I've used previously such as pip or npm have this issue when run in this same configuration.

[2021-02-25 23:00] TravisEz13 commented on #541
Because, without Jenkins I cannot repro, see below.  I need to understand what jenkins is doing at the docker level.

One problem with your repro is the following happen in two different sessions, so the second command would not be expected to show any commands.
[code]

[code]

[2021-03-04 16:30] SebTardif opened #544 "Image not usable: Enter-PSSession: This parameter set requires WSMan, and no supported WSMan client library was found. WSMan is either not installed or unavailable for this system."
I saw many speech from Microsoft employee at conferences, about Powershell  is cross OS and awesome, but each couple of years I try,  and it fail flat on the first day.

Just try on Mac, using brew to install and gave: Enter-PSSession: This parameter set requires WSMan, and no supported WSMan client library was found. WSMan is either not installed or unavailable for this system.

Then I realize I'

[2021-03-04 18:02] mdlopresti commented on #544
I'm having the same issue using the mcr.microsoft.com/powershell:lts-debian-10 image

[2021-03-04 22:45] TravisEz13 commented on #544
The library that supports wsman doesn't support Debian 10.

[2021-03-04 23:10] TravisEz13 commented on #544
Known issue list updated
https://github.com/PowerShell/PowerShell-Docker/wiki/Known-Issues#wsman-does-not-work-on-most-linux-images

[2021-03-05 12:23] rockonsoft commented on #534
@sh0375 Thanks you so much - that is working for me!!

[2021-03-05 15:06] mdlopresti commented on #544
Ubuntu would fit my needs, but 16.04 is pretty old.  Are newer ubuntu images not an option?

[2021-03-06 16:00] #544 closed

[2021-03-08 17:54] TravisEz13 commented on #544
The OMI which allows WSMan provided by Microsoft no longer supports PowerShell.

I added a link in the known issue to a 3rd party module which adds support for newer distributions.

[2021-03-12 22:04] pcgeek86 commented on #520
Hey @TravisEz13 would this be an easy thing to implement?

[2021-03-12 22:13] pcgeek86 opened #545 "Feature Request: Add ARM Container Images based on Ubuntu 20.04 LTS Focal Fossa"
### Synopsis

There are no ARM container images based on the latest LTS release of Ubuntu: Ubuntu Server 20.04 LTS Focal Fossa. The latest I can find are for Ubuntu 18.04 LTS Bionic Beaver.

### Actual Behavior

The following script returns no results.

[code]

### Expected Behavior

Container images are returned from the above script.

### All Current ARM Images

[code]

[code]

[2021-03-13 01:34] TravisEz13 commented on #520
@anamnavi We should investigate if there is something we can do here.

[2021-03-27 08:04] hbuckle opened #546 "servercore:ltsc2019 image"
With the removal of the 1809 image there doesn't appear to be an image that will work with Azure Pipelines anymore, as the hosted agents are running on Server 2019 (10.0.17763).
Can an image based on servercore:ltsc2019 be added?

[2021-03-28 01:55] henry123456789101112 commented on #534
Tried this but the final command did work for me.
RUN pwsh -Command 'Install-WSMan'
Install-WSMan: The term 'Install-WSMan' is not recognized as a name of a cmdlet, function, script file, or executable program.
Check the spelling of the name, or if a path was included, verify that the path is correct and try again.

[2021-03-30 22:12] TravisEz13 commented on #534
Please move the conversation about install-wsman to its repo:  https://github.com/jborean93/omi

[2021-04-12 20:45] anamnavi opened #552 "Issue to track 20H2 support"
This issue will track when full windows 20H2 support will be back and we can publish those images to ACR. At the moment, we have provided images and corresponding dockerfiles for nanoservercore and windowsservercore 20H2 distributions but can't publish it to ACR.

An issue has been created on the ACR repo too: https://github.com/Azure/acr/issues/532

## Check list

- [ ] Verified that this is not

[2021-04-12 21:10] TravisEz13 commented on #552
Added known issue:
https://github.com/PowerShell/PowerShell-Docker/wiki/Known-Issues#windows-20h2-images-and-newer

[2021-04-14 02:06] TravisEz13 opened #553 "debian 9 is not support for powershell 7.2"

[2021-04-14 02:06] TravisEz13 opened #554 "need fedora 32 test-deps image"

[2021-04-14 02:07] TravisEz13 opened #555 "alpine 3.13+ is all that is supported for 7.2"

[2021-05-25 21:26] TravisEz13 opened #558 "port Ubuntu 20 and other missing images to LTS"

[2021-07-13 15:16] failshell commented on #546
Same problem on Github Actions runners, which are Azure Pipelines agents.

[2021-08-19 22:56] TravisEz13 commented on #546
ltsc2022 was added.  We can probably go back and add a ltsc2019 if it is still needed.  cc @anamnavi

[2021-08-20 17:47] rgl commented on #546
@TravisEz13 where was ltsc2022 built? GitHub Actions [does not yet seem to have a windows 2022 virtual environment](https://github.com/actions/virtual-environments/issues/3138).

[2021-08-20 19:58] TravisEz13 commented on #546
@rgl a private azure environment not currently available to the public.

[2021-08-21 16:58] rgl opened #571 "Why aren't all powershell images available for all the windows versions?"
Why aren't all powershell images available for all the windows versions?

For example:

- 7.1.4-windowsservercore is not available for 1809.
  - lts-windowsservercore-1809 is available, but that does not have a version.
- 7.2.0-preview.8-windowsservercore is not available for 1809.
  - the last one was for 7.2.0-preview.2-windowsservercore-1809

And there is no image for the `windows` container fl

[2021-08-23 09:17] vboulineau commented on #552
@anamnavi @TravisEz13 Any news on this? I see that LTSC 2022 has been released, so I guess it's supported in ARC. It'd be nice to support the last SAC as well.

[2021-08-23 19:42] TravisEz13 commented on #571
https://docs.microsoft.com/en-us/lifecycle/announcements/windows-10-1803-1809-end-of-servicing
1809 reached end of life in May 2021

[2021-08-23 19:42] #571 closed

[2021-08-23 19:43] TravisEz13 commented on #571
Sorry, https://docs.microsoft.com/en-us/lifecycle/announcements/windows-10-1809-end-of-servicing
November 2020

[2021-08-23 19:46] TravisEz13 commented on #552
We have images available for ltsc2022.  You'll have to ask ACR about their plan to release support for ltsc2022.  We have moved to an internal preview environment to get support early.

[2021-08-23 19:46] TravisEz13 commented on #552
@anamnavi  plans to add 20H2 images soon.

[2021-08-23 19:56] rgl commented on #571
Sorry, I should have been more explicit, I'm talking about Windows Server 2019 (1809) as-is https://docs.microsoft.com/en-us/lifecycle/products/windows-server-2019 and not Windows Client 10.

[2021-09-21 07:48] GrumpyMeow commented on #552
I find it quite unfortunate that there's no news on this subject. It feels like ACR is lagging behind and will become end-of-life.
[code]

[2021-09-23 17:48] TravisEz13 commented on #552
@GrumpyMeow We can support 2022, feel free to submit a PR.

[2021-09-23 17:51] TravisEz13 commented on #571
Feel free to submit a PR.  We have had some blocking issue and we are working from current OSs backwards.

[2021-09-24 08:20] vboulineau commented on #552
@TravisEz13 `ltsc2022` is already published on DockerHub, but still nothing for `20H2`. It's not great because `20H2` starts to be used as current SAC by multiple providers, like GKE: https://cloud.google.com/kubernetes-engine/docs/how-to/creating-a-cluster-windows#1.20

[2021-10-03 19:57] TravisEz13 commented on #552
@vboulineau, Great, feel free to submit a PR.  We are still working on getting 2022 support fully out.  We'll work back from there as time allows.

cc @anamnavi, I don't know if you have time to add 20H2 images.

[2021-10-04 08:49] vboulineau commented on #552
I think the misunderstanding came from ACR support: it does now support **up to** Windows 2022 (with all versions in between), not only 2022. I've opened the PR to remove the `BrokenFlag` for 20H2 and hopefully it should build successfully.

[2021-10-04 20:21] #552 closed

[2021-10-05 13:38] vboulineau commented on #552
Thanks for merging the PR quickly. Is the image publication to `mcr.microsoft.com` automated? Because I don't see the tags there yet: https://mcr.microsoft.com/v2/powershell/tags/list

[2021-10-15 15:33] StefanSchoof opened #583 "Link to Lifecycle on docker hub goes to 404"
## Check list

- [y] Verified that this is not a [Known Issue](https://github.com/PowerShell/PowerShell-Docker/wiki/Known-Issues)
- [y] Verified this is not an issues in the underlying windows container that should be reported to [Windows Feedback Hub](https://support.microsoft.com/windows/send-feedback-to-microsoft-with-the-feedback-hub-app-f59187f8-8739-22d6-ba93-f66612949332)

## Steps to repro

[2021-10-21 19:08] #583 closed, assigned to TravisEz13

[2021-11-02 19:41] TravisEz13 opened #590 "Make release build fail immediately if a non-preview release tag is added as a preview release tag"
Make release build fail immediately if a non-preview release tag is added as a preview release tag

[2021-11-02 22:23] TravisEz13 opened #592 "Add Component Governance"
- [x] PR
- [x] Release Linux
- [ ] Release Windows

[2021-11-03 17:59] TravisEz13 opened #593 "Need to restructure builds to make releasing pwsh major.minor releases easier"
proposal

* create mapping between channels and version
* change folders to version
* make sure packages and tags automatically change based on channel

[2021-11-03 18:09] TravisEz13 commented on #590
Fixed

[2021-11-03 18:09] #590 closed

[2021-11-03 18:11] TravisEz13 commented on #554
fixed

[2021-11-03 18:11] #554 closed

[2021-11-03 18:17] #526 closed

[2021-11-03 18:18] #389 closed

[2021-11-03 18:27] TravisEz13 opened #596 "Docker release build network isolation"
Docker release build network isolation

[2021-11-11 17:17] signed-log opened #600 "Support openSUSE Leap 15.3"
I already raised an issue on the powershell repo (PowerShell/PowerShell#16446 and PowerShell/PowerShell#16447)

Create a docker image for openSUSE leap 15.3, based on openSUSE's official container images, which are to be found in their official [container registry](https://registry.opensuse.org)

[2021-11-11 21:11] TravisEz13 commented on #600
Thanks for filing the issues in the right places.  A PR would be good.... let me see if I can find something close to what you want.

[2021-11-11 21:13] Stig124 commented on #600
I can PR, will start working on that

[2021-11-11 21:16] TravisEz13 commented on #600
This is an old image:
https://github.com/PowerShell/PowerShell-Docker/tree/20190919/release/stable/opensuse423
the ps1 file isn't used anymore and there are some changes needed to the metadata ...
I'm on vacation, but I'll be more than happy to help you through creating a docker image.

[2021-11-11 21:22] Stig124 commented on #600
Thank you very much,
Just a question, is the `meta.json` file a file manually created or a script is used?

[2021-11-11 23:29] TravisEz13 commented on #600
manually.

[2021-11-16 17:03] JustinGrote commented on #558
I assume this includes lts-alpine which is missing?

[2021-11-16 17:06] TravisEz13 commented on #558
It should.

[2021-11-16 17:08] JustinGrote commented on #558
I can take a stab at it :)

[2021-11-16 17:28] TravisEz13 commented on #558
If you look at it the big change in the docker file is the creation of the symbolic links.
the meta.json drives the build process.  We don't usually do the test-deps images for lts images (but if you want to  include them nothing is stopping you)

many of the parameters are overwritten at build time... if you build locally, use `./build.ps1` (and we are stuck on pester 4.x for now, which is requir

[2021-11-16 17:31] JustinGrote commented on #558
@TravisEz13 thanks. A quick question about stable/ubuntu:20.04 - What's with the first build stage of 6.2.4 prior to installing 7?
https://github.com/PowerShell/PowerShell-Docker/blob/d414d3058ce86cf96a3b551c2515a70bb56a437b/release/stable/ubuntu20.04/docker/Dockerfile#L3-L38

[2021-11-16 19:17] TravisEz13 commented on #558
The version number will be overwritten at build time.  Feel free to update it, but we don't regularly update the versions, so they get QUITE out of date.

[2021-11-16 23:53] adityapatwardhan opened #603 "Fedora 32 and 33 is EOL so Fedora 34 should be supported"
Fedora 32 is EOL and Fedora 33 will be EOL today. https://endoflife.software/operating-systems/linux/fedora

I would like to request support of Fedora 34.

## Check list

- [X] Verified that this is not a [Known Issue](https://github.com/PowerShell/PowerShell-Docker/wiki/Known-Issues)
- [X] Verified this is not an issues in the underlying windows container that should be reported to [Windows Feedb

[2021-11-23 22:13] briantist commented on #541
@danielchipman did you ever find a resolution for this? I'm having the same issue now.

[2021-11-24 01:18] danielchipman commented on #541
It's been a while so I don't remember specifics, but I do recall finding that it wasn't installing where I expected it to. I believe I worked around the problem by running a separate .ps1 that did the installing within the script, but unfortunately don't remember more fine details than that. Thanks for reporting back with a proper solution!

[2021-11-28 19:58] potatoqualitee commented on #520
fwiw, I ended up using this within my Dockerfile

`COPY --from=mcr.microsoft.com/dotnet/sdk:3.1-bionic-arm64v8 /usr/share/powershell /bin`

It's in the builder stage so it's not a deal where it goes. looking forward to when you all have the functionality to build and test  👍🏼

[2021-11-30 20:44] potatoqualitee commented on #520
JK it turns out that sdk has a much older version of PowerShell so I created this Dockerfile

[code]

[2021-12-06 14:43] jpatigny commented on #546
+1 Gitlab runners doesn't officially support windows 2022 yet...

[2021-12-06 15:01] rgl commented on #546
@jpatigny, [Windows 2022 is already in beta](https://github.com/actions/virtual-environments#available-environments), so its somewhat supported.

[2021-12-06 23:59] TravisEz13 commented on #546
We build in ACR, we only use the agent to coordinate the build.

[2021-12-07 00:01] TravisEz13 commented on #520
I just discussed getting an agent that supports ARM64.  We should be able to support this, but it will take some time.

[2021-12-07 00:17] #603 closed

[2021-12-07 00:19] TravisEz13 commented on #541
@briantist, sounds like they aren't actually creating the user before running as it... your workaround sound reasonable.

[2021-12-07 04:18] briantist commented on #541
Right, Jenkins has no insight into what your container is so it doesn't try to create additional users or run anything to alter its environment, but it does use the same UID/GID as itself in the `docker run` command by default.

This is useful so that it can still manage files created by the container within its workspace. Running the container as root makes lots of stuff "work" but if it creates

[2021-12-18 19:41] #553 closed

[2021-12-20 19:31] #555 closed

[2021-12-21 12:44] jveldhuijzen opened #612 "Documentation on hub.docker.com incorrect"
Hi,
The documentation on [hub.docker.com](https://hub.docker.com/_/microsoft-powershell?tab=description) states that latest is the 18.04 release of Ubuntu.

If you pull the latest image, you'll get 20.04:
![Ubuntu version after latest has been pulled](https://user-images.githubusercontent.com/74781783/146931898-be9f7e0a-7330-49f9-ac0a-9ef445980656.png)

Please update the documentation on hub.docke

[2022-02-01 07:43] delamart opened #614 "CentOS EOL please provide another base like UBI"
The CentOS based images are no longer usable as yum/dnf no longer works:
[code]

Could you please provide another comparable base image like Red Hat Universal Base Images for example.
Thank you.

[2022-04-19 19:21] TravisEz13 commented on #614
UBI 8.4 was added

[2022-04-19 19:21] #614 closed

[2022-04-19 20:37] TravisEz13 commented on #593
Done

[2022-04-19 20:37] #593 closed

[2022-04-19 20:37] TravisEz13 commented on #558
Done

[2022-04-19 20:37] #558 closed

[2022-04-19 20:38] #514 closed

[2022-04-27 18:03] jrdnbradford opened #635 "Incorrect Dockerfile Links on dockerhub"
On [PowerShell DockerHub](https://hub.docker.com/_/microsoft-powershell) the links to the Dockerfiles in this repo are incorrect and need to be updated. It still references directories such as
* `release/lts`
* `release/preview`
* `release/stable`

resulting in `404`s.

[2022-04-29 00:34] TravisEz13 commented on #635
The last release was done with a9f97ef5f8dfde10dec2f91bab2c67014fef732f which was before the file structure change.  The next release should clear this up.

[2022-04-29 07:10] delamart commented on #614
Can't find the image in the registry, any idea when it will be available ?

[2022-04-30 01:00] #635 closed

[2022-05-03 18:49] TravisEz13 commented on #612
This was fixed, mention of the version was removed.

[2022-05-03 18:49] #612 closed

[2022-05-03 18:51] TravisEz13 commented on #331
No longer in plan

[2022-05-03 18:51] #331 closed

[2022-05-04 00:39] KinkyTekK opened #640 "Jag delar passwd med dig"

[2022-05-04 00:40] KinkyTekK commented on #640
Love

[2022-05-04 00:40] #640 closed

[2022-05-07 04:04] pcgeek86 commented on #520
Tried running PowerShell ARM64 container image in a multi-architecture k3s Kubernetes cluster, on Amazon Web Services (AWS), using an AMD64 master node, and an ARM64 worker node. The ARM64 worker node failed to pull an ARM64 container image for PowerShell. Below is the result.

[code]

[2022-05-09 19:05] TravisEz13 commented on #520
@pcgeek86 the ARM tag is `arm32v7-ubuntu-bionic`.   We are working to get better ARM availability.

[2022-05-13 22:58] TravisEz13 commented on #592
Mostly done with these two commits:
6906b5c9a3d3fb078f6b151af3e4aee1745eb50e
d32654da0d2a1fb584e09f66c05f2565a75b8f6e

[2022-05-16 04:01] wsy opened #645 "Cannot pull image `lts-nanoserver-ltsc2022` on Windows 10 21H1 host"
## Check list

- [x] Verified that this is not a [Known Issue](https://github.com/PowerShell/PowerShell-Docker/wiki/Known-Issues)
- [ ] Verified this is not an issues in the underlying windows container that should be reported to [Windows Feedback Hub](https://support.microsoft.com/windows/send-feedback-to-microsoft-with-the-feedback-hub-app-f59187f8-8739-22d6-ba93-f66612949332)  (I'm not sure)

#

[2022-05-16 18:26] TravisEz13 commented on #645
You need to ask Windows support about this.

[2022-05-16 18:26] #645 closed

[2022-05-25 18:04] gabriel-flores-kr opened #657 "Github Actions Runners issue at azure/powershell@v1"
- Checking docker version

  /usr/local/bin/docker version --format '{{.Server.APIVersion}}'
  '1.41'

- Starting job container**

Status: Downloaded newer image for mcr.microsoft.com/azure-powershell:latest

- This is the output when running the powershell task

Module Az latest installed from hostedAgentFolder
Initializing Az Module
Initializing Az Module Complete
Running Az PowerShell Script

a

[2022-05-30 15:09] gabriel-flores-kr commented on #657
Any comments ?

[2022-05-31 05:08] #600 closed

[2022-06-28 03:54] pcgeek86 commented on #520
Looks like ARM is missing Ubuntu 22.04 Jammy Jellyfish images.

The Intel / AMD 64-bit version works:

[code]

The ARM version doesn't work:

[code]

[2022-06-30 18:03] sdwheeler opened #684 "EndOfLife date for Ubuntu 22.04 is in correct in matrix.json"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

The current [matrix.json](https://github.com/PowerShell/PowerShell-Docker/blob/master/assets/matrix.json) file has incorrect dates for Ubuntu 22.04.

### Expected behavior

[code]

### Actual behavior

[code]
[code]

### Versi

[2022-07-05 23:40] sdwheeler opened #685 "EndOfLife date for Debian is not consistent"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

The current [matrix.json](https://github.com/PowerShell/PowerShell-Docker/blob/master/assets/matrix.json) file has incorrect dates for Debian 10 and 11.

### Expected behavior

[code]

### Actual behavior

[code]
[code]

### V

[2022-07-16 16:54] xtqqczze opened #686 "Fedora 35 should be supported as Fedora 34 is EOL"
Fedora 34 is [EOL](https://docs.fedoraproject.org/en-US/releases/eol/).

I would like to request support of Fedora 35.

_See also: #603_

cc: @TravisEz13

[2022-08-01 22:54] xtqqczze commented on #686
cc: @daxian-dbw

[2022-08-02 17:03] TravisEz13 commented on #686
Feel free to add it as a community supported image

[2022-08-02 17:03] #686 closed

[2022-08-02 17:05] TravisEz13 commented on #685
We have to EOL the image at the EARLIER of the our product end of life or the distribution end of life.  This definitely does not result in consistency across channels.

[2022-08-04 16:50] xtqqczze commented on #686
Issue opened: PowerShell/PowerShell#17849

[2022-08-04 19:01] TravisEz13 commented on #520
The tag should be available after the next release, but it will be `ubuntu-jammy-arm32`

[2022-08-04 19:01] TravisEz13 commented on #520
/remind me in 15 days

[2022-08-22 17:14] TravisEz13 commented on #520
We had issues with ARM64 in the last release.  This will be delayed.

[2022-08-22 17:14] TravisEz13 commented on #520
/remind me in 21 days

[2022-09-09 14:19] robinmalik opened #701 "Upgrade to PowerShell 7.2.6"
### Summary of the new feature / enhancement

The latest version of PowerShell is 7.2.6, but `mcr.microsoft.com/powershell:latest` is running 7.2.5.

Please can this be updated, so it doesn't have to be incorporated into the build process?

### Proposed technical implementation details (optional)

_No response_

[2022-09-15 12:58] p0macs opened #702 "Get-TimeZone -ListAvailable is empty on Ubuntu-22.04"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

The Ubuntu-22.04 based docker image does not have any timezone info.
The Linux timezones should appear in /usr/share/zoneinfo - but this is empty.
The timezone info is available on the Ubuntu-20.04 based image.

### Expected b

[2022-09-21 20:06] TravisEz13 commented on #701
![image](https://user-images.githubusercontent.com/10873629/191600276-d190ee46-44c1-4cad-bea9-ca9344cda9e7.png)

[2022-09-21 20:13] TravisEz13 commented on #520
We are still having issues with this.  Hopefully we can get them addressed for the next release.

[2022-09-21 20:13] TravisEz13 commented on #520
/remind me in 21 days

[2022-09-21 20:14] TravisEz13 commented on #702
Please install the timeszones if you want this to work.

[2022-09-21 20:14] #702 closed

[2022-09-21 20:26] robinmalik commented on #701
Awesome, thanks @TravisEz13!

[2022-09-21 20:26] #701 closed

[2022-09-22 07:18] p0macs commented on #702
Hi. That was my first idea too. But could not do it.
I only found instructions how to change the timezone, and all of them refers to a "timedatectl" command, which is not exists in the image. Looks like you cannot install timedatectl (apt install timedatectl failed), only when you install "systemd" - which is probably not what we wanted - probably there is a good reason why systemd in not in the b

[2022-09-28 18:27] TravisEz13 commented on #702
You could also ask .NET as the API we use would be a .NET API

[2022-10-05 00:23] rhubarb-geek-nz opened #706 "Create PowerShell Docker for Debian 11 aarch64 / arm64"
### Summary of the new feature / enhancement

https://github.com/PowerShell/PowerShell/issues/18212

In order to proceed with creating a PowerShell Debian 11 package for aarch64 there is a requirement to request a docker image for PowerShell for that environment.

Can you create a PowerShell Docker environment for Debian 11 aarch64 ?

Thanks.

### Proposed technical implementation details (optiona

[2022-10-05 23:17] rhubarb-geek-nz opened #707 "Create PowerShell Docker for Debian 11 on arm32/armhf suitable for Raspberry Pi"
### Summary of the new feature / enhancement

Please create a PowerShell Docker for Debian 11 on arm32/armhf as required by PowerShell issue

https://github.com/PowerShell/PowerShell/issues/16777

### Proposed technical implementation details (optional)

_No response_

[2022-10-05 23:21] rhubarb-geek-nz opened #708 "Create PowerShell docker for Ubuntu 22.04 on aarch64/arm64"
### Summary of the new feature / enhancement

Please create a Docker for PowerShell on Ubuntu 22.04 as required by https://github.com/PowerShell/PowerShell/issues/18211

### Proposed technical implementation details (optional)

_No response_

[2022-10-06 18:38] #707 closed

[2022-10-06 18:39] #706 closed

[2022-10-08 02:45] rhubarb-geek-nz commented on #708
I do not see an aarch64 docker image
https://hub.docker.com/_/microsoft-powershell

[2022-10-08 02:47] rhubarb-geek-nz opened #711 "Docker image was not created and no comment why"
### Summary of the new feature / enhancement

https://github.com/PowerShell/PowerShell-Docker/issues/708

Requested a docker image. Issue was closed with no comment.

No "aarch64" image at https://hub.docker.com/_/microsoft-powershell

### Proposed technical implementation details (optional)

_No response_

[2022-10-12 08:30] AzySir opened #712 "Which version has powershell 5?"
### Summary of the new feature / enhancement

I'm looking for a PS 5 Image - does this exist?

### Proposed technical implementation details (optional)

_No response_

[2022-10-14 23:56] TravisEz13 commented on #712
PowerShell 5 is Windows PowerShell.

So, it would be in most of the Windows images.  This is the smallest image that should have it.

https://mcr.microsoft.com/en-us/product/windows/servercore/about

[2022-10-14 23:57] #712 closed

[2022-10-14 23:59] TravisEz13 commented on #520
Update, We are making progress on the technical issue.  I hope to get this done in the next few months.

[2022-10-15 00:00] TravisEz13 commented on #520
/remind me in 21 days

[2022-10-15 00:04] TravisEz13 commented on #708
https://github.com/PowerShell/PowerShell-Docker/issues/520

[2022-10-16 02:01] #711 closed

[2022-10-22 04:59] MrTechGadget commented on #684
I'm confused, Ubuntu 22.04 LTS end of life is 4/2032. What is wrong?

[2022-11-02 09:56] viceice opened #720 "Docker tags with powershell patch number"
### Summary of the new feature / enhancement

previously every powershell patch release was taged and published until v7.2.2.
I used renovatebot to updated to every patch release, but since some month the patch tags like `7.2.2-nanoserver-ltsc2022`  are no longer published.

So please publish those again.

sample:
https://github.com/visualon/docker-drone-git/blob/8844ff50e6318d4caccb4d0c8c4285ad57